* {
  user-select: none;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.flex-1 {
  flex: 1;
}

.flex-box {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}
.gap-16 {
  gap: 16px;
}
.gap-2 {
  gap: 2px;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.text-sm {
  font-size: @text-sm;
}

.label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  color: #9da3ac;
  user-select: none;
}

.ant-slider-track {
  background-color: @primary-color;
}

.ant-slider:hover {
  .ant-slider-track {
    background-color: #87dd95;
  }
}
