.initialPageWarp {
  height: 100%;
  padding: 0 18px;
  overflow-y: auto;
}
.more {
  width: 77px;
  height: 24px;
  background: #2e2e39;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  line-height: 17px;
  cursor: pointer;
  &:hover {
    color: #5a4cdb;
  }
}
.detailPage {
  display: flex;
  flex-direction: column;
  height: 100%;

  .detailPageT {
    background-color: #272731;
    .tagsTop {
      padding-bottom: 14px;
      .tagWarp {
        padding: 12px 16px 0px 18px;
        margin-right: 2px;
        // min-height: 50px;
        height: 100%;
        color: #ffffff;
        font-size: 12px;

        :global {
          .ant-radio-group {
            margin-left: 7px;
          }
          .ant-radio-wrapper {
            padding-right: 20px;
            font-size: 12px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #ffffff;
          }
          .ant-radio {
          }
        }
      }
    }

    // 定义右下角拖动块的样式
    .tagWarp {
      padding: 1px 16px 15px 18px;
      margin-right: 2px;
      // min-height: 50px;
      max-height: 136px;
      height: 100%;
    }
    // padding-top: 15px;
    .detailPageTop {
      padding: 0px 18px;
      height: 24px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      // height: 51px;

      .detailPageTopLeft {
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #ffffff;
        line-height: 17px;
      }
      .detailPageTopRight {
        width: 77 px;
        height: 24 px;
        line-height: 17px;
        background: #2e2e39;
        border-radius: 4 px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        cursor: pointer;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #ffffff;
        cursor: pointer;
        &:hover {
          color: #5a4cdb;
        }
      }
    }
  }

  .detailPageTitle {
    // min-height: 40px;
    // max-height: 120px;
    // margin-right: -17px;
    // overflow-y: scroll;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    flex-wrap: wrap;
    // overflow-x: hidden;
    align-content: flex-start;

    .itemName {
      margin-top: 12px;
      width: 24px;
      margin-right: 15px;
      height: 28px;
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #ffffff;
      line-height: 17px;
      display: flex;
      // justify-content: center;
      align-items: center;
    }
    .itemText {
      width: 85%;
      white-space: nowrap; //不换行
      overflow: hidden; //超出隐藏
      text-overflow: ellipsis; //变成...
      text-align: center;
    }

    .active {
      background: #5646ed !important;
      color: #ffffff !important;
    }
  }
}

.item {
  height: 0;
  min-width: 98px;
  min-height: 98px;
  background-color: #1c1c28;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: #5646ed;
  }
}

.itemWarp {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .autoDestroyVideo {
    position: relative;
  }

  &:hover {
    box-shadow: 0 0 4px #5646ed;
    .itemButton {
      display: flex;
    }
  }

  .itemButton {
    padding: 0 6px;
    width: 100%;
    position: absolute;
    bottom: 7px;
    display: none;
    // justify-content: space-between;

    justify-content: end;
    flex-direction: row;
    z-index: 5;

    &.loading {
      display: flex;
    }

    .itemButtonAdd {
      width: 20px;
      height: 20px;
      font-size: 12px;
      color: #ffffff;
      background: #5646ed;
      border-radius: 50%;
      align-items: center;
      display: flex;
      justify-content: center;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
.searchPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  :global {
    .ant-tabs {
      height: 100%;
      font-size: 12px;
      font-weight: 500;
      color: #fff;
    }
    .ant-tabs-tab {
      padding: 0 0 6px 0 !important;
      font-size: 12px;
    }
    .ant-tabs-nav {
      margin: 0px !important;
      padding-right: 18px;
    }
    .ant-tabs-nav::before {
      border-bottom: 0px !important;
    }
    .ant-tabs-nav-wrap {
      background: #272731 !important;
      // margin: 0px 0 3px 0 !important;
    }
    .ant-tabs-nav-list {
      margin-left: 18px !important;
    }
    .ant-tabs-content {
      height: 100%;
    }
  }
  .searchPageScreen {
    width: 77px;
    height: 24px;
    background: #2e2e39;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: #c0c0cd;
    line-height: 17px;
    cursor: pointer;
  }

  .tagsTopWarp {
    display: flex;
    flex-direction: column;
    height: 100%;
    .searchContent {
      flex: 1;
      height: 0;
      margin-top: 12px;
      :global {
        .infinite-loader-wrap {
          height: 100% !important;
        }
      }
    }
    .tagsTop {
      .tagWarp {
        padding: 12px 16px 0px 18px;
        margin-right: 2px;
        font-size: 12px;
        // min-height: 50px;
        height: 100%;
        :global {
          .ant-radio-group {
            margin-left: 7px;
          }
          .ant-radio-wrapper {
            padding-right: 20px;
            color: #ffffff;
            font-size: 12px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #ffffff;
          }
          .ant-radio {
          }
        }
      }
    }
  }
}

.searchPageContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
.emptyWarp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // height: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #eeeff2;
  line-height: 17px;
  .img {
    margin-bottom: 20px;
    color: #fff;
    font-size: 65px;
  }
}
