.scene-list {
  width: 318px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 16px;

  &.scene-list-w {
    grid-template-columns: repeat(auto-fill, 150px);
  }

  .scene-list-item {
    position: relative;
  }

  .scene-list-item-masonry {
    position: absolute;
  }
}

.scene-list-skeleton {
  .xiudd-skeleton {
    height: 176px;
  }
}
