.music-list-item {
  width: 100%;
  height: 67px;
  padding: 0px 10px;
  background-color: #fff;
  color: #484e5f;
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  .music-list-scan_process {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.74);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    color: #ffffff;
    z-index: 10;
    .process-text {
      width: 100%;
      font-size: 12px;
      font-weight: 400;
      color: #ffffff;
      text-align: center;
    }
    :global {
      .ant-progress {
        padding: 0 10px;
      }
      .ant-progress-success-bg,
      .ant-progress-bg {
        height: 5px !important;
        background: @primary-color;
      }
      .ant-progress-inner {
        background: #ffffff;
        height: 5px;
      }
      .ant-progress-outer {
        padding-right: 0;
      }
      .ant-progress-text {
        display: none;
      }
    }
  }
  .music-list-scan_flag {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.74);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    z-index: 10;

    .scan_flag_icon {
      margin-right: 7px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }
  }
  .music-list-item-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
  }
  .music-list-item-pic {
    min-width: 47px;
    min-height: 47px;
    width: 47px;
    height: 47px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }
  .music-list-item-defaultBg {
    width: 100%;
    height: 100%;
    background: #b4adf3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
  }
  .music-list-item-right {
    flex: 1;
    margin-left: 14px;
    display: flex;
    flex-wrap: wrap;
  }
  .music-list-item-action {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 5px;
    right: 0px;
  }
  .music-list-item-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .top-left {
      width: 70%;
      white-space: nowrap; //不换行
      overflow: hidden; //超出隐藏
      text-overflow: ellipsis; //变成...
    }
  }
  .music-play-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    .music-process {
      flex: 1;
      height: 26px;
      margin: 0 10px;
      overflow: hidden;
    }

    .music-time {
      // width: 30px;
      margin-right: 6px;
      color: #7e8aa9;
    }

    :global {
      .ant-progress-bg {
        background: url('../../../../../assets/image/haveolor.png');
        height: 10px !important;
        background-repeat: repeat-x;
        background-size: 30px 100%;
        border-radius: 0 !important;
      }
      .ant-progress-inner {
        background: url('../../../../../assets/image/nocolor.png');
        background-repeat: repeat-x;
        height: 10px;
        background-size: 30px 100%; // background: rgb(218, 211, 211);
      }
    }
  }

  .action-btn {
    display: none;
    background-color: @primary-color;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 43px;
    height: 22px;
    background: #5a4cdb;
    border-radius: 4px;
    // display: flex;
    justify-content: center;
    align-items: center;
  }
  .del-btn {
    display: none;
    font-size: 23px;
    z-index: 2;
    &:hover {
      color: #5a4cdb;
    }
  }
  .play-wrap-playing {
    border-radius: 50% !important;
    .play-wrap-mask {
      display: flex !important;
    }
    .play-icon {
      display: flex !important;
    }
  }
  .play-wrap {
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;

      border-radius: 4px;
    }
    .play-icon {
      display: none;
      cursor: pointer;
      font-size: 15px;
      color: rgba(255, 255, 255, 1);
      z-index: 3;
      position: absolute;
      left: 35%;
      top: 35%;
    }
  }
  .play-wrap-mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.56);
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
  }
  .play-progress {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    transform: scale(1.1);
    :global {
      .ant-progress-inner {
        width: 100% !important;
        height: 100% !important;
        border-radius: 50% !important;
      }
    }
  }
  &:hover {
    box-shadow: 0px 0px 4px 0px rgba(126, 138, 169, 0.37);
    .action-btn {
      display: flex;
      cursor: pointer;
    }
    .del-btn {
      display: flex;
      font-size: 23px;
      cursor: pointer;
    }
    .play-wrap-mask {
      display: flex;
    }
    .play-icon {
      display: flex;
    }
  }

  :global {
    :hover {
      .ant-slider-rail {
        background-color: #d3d7df;
      }

      .ant-slider-track {
        background-color: #484e5f;
      }

      .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
        border: solid 1px #484e5f;
      }
    }

    .ant-slider-handle {
      width: 10px;
      height: 10px;
      border: solid 1px #484e5f;
      margin-top: -3px;
    }

    .ant-slider-rail {
      background-color: #d3d7df;
    }

    .ant-slider-track {
      background-color: #484e5f;
    }
  }
}
