.wrap {
  width: 152px;
  height: 86px;
  position: relative;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  &:hover {
    .action {
      opacity: 1;
    }
  }
}

.action-wrap {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  z-index: 100;
  width: 100%;
  padding: 4px;
  .action {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @primary-color;
    cursor: pointer;
    border-radius: 50%;
    color: #fff;
    opacity: 0;
    z-index: 3;
    &:hover {
      opacity: 1 !important;
    }
  }
}

.duration {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 4;
  color: #fff;
  font-size: 12px;
  background-color: rgba(0;0;0;0.4);
  padding: 0 4px;
  border-radius: 4px;
}
