.transAction {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  padding-right: 16px;
}
.transActionItem {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.transActionItemRow {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  color: #ffffff;
  :global {
    .ant-slider {
      width: 100%;
      margin-left: 2px;
    }
    .ant-slider-rail {
      background: #cacdd4;
    }
    .ant-slider-track {
      background-color: @primary-color;
    }
    .ant-input-number-input {
      height: 100% !important;
    }
    .img-filter-slider {
      width: 100%;
    }
  }
  .rowTip {
    width: 50px;
    height: 26px;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #262e48;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
  }
}
.transActionItemRowColor {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #d2d6da;
  margin-top: 12px;
  margin-right: 13px;
  cursor: pointer;
}
