.bindPhone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 413px;
  height: 392px;
  background: #FFFFFF;
  border-radius: 6px;

  .bindPhoneTop {
    margin-top: 34px;
    font-size: 18px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #D2530B;
    line-height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      margin-left: 8px;
    }
  }

  .bindPhoneTxt {
    margin-top: 18px;
    height: 46px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #262E48;
    line-height: 23px;
    text-align: center;
  }

  .bindPhoneContent {
    margin-top: 27px;

    .bindPhoneContentTopInput {
      padding-left: 13px;
      width: 100%;
      height: 40px;
      background: #FFFFFF;
      border-radius: 4px;
      border: 1px solid #DBDDE2;

    }

    .bindPhoneContentBottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 7px;

      .bindPhoneContentBottomInput {
        padding-left: 13px;
        width: 194px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 4px;
        border: 1px solid #DBDDE2;
        margin-right: 15px;

      }

      .submit-disabled {
        width: 104px;
        height: 40px;
        background: #E9E9E9;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #262E48;
        line-height: 17px;

      }


      .send-code-btn {
        width: 104px;
        height: 40px;
        background: #5A4DDB;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 17px;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
      }

    }

    .tel-login-error {
      height: 17px;
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #D0021B;
      line-height: 17px;
      opacity: 0;
      margin-top: 5px;
    }

    .tel-login-submit {
      margin-top: 31px;
      width: 313px;
      height: 40px;
      background: #CCCCCF;
      border-radius: 4px;
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #FFFFFF;
      line-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;


    }

    .tel-login-submit-active {
      background: #5A4DDB !important;

      &:hover {
        opacity: 0.9;
      }
    }

  }
}
