.slidewarp2 {
  height: 26px;

  :global {
    .ant-slider-step {
      height: 100% !important;
    }

    .ant-slider-dot {
      display: none;
    }

    .ant-slider {
      background: #f3f5f6;
      height: 100% !important;
      display: flex;
      align-items: center;
      margin: 0px;
      // background: red !important;
    }

    .ant-slider:hover {
      background: #f3f5f6;
      height: 100% !important;
      // background: red !important;
    }

    .ant-slider:hover .ant-slider-rail {
      background: url('../../assets/image/nocolor.png');
      height: 19px !important;
      background-size: contain;
    }

    .ant-slider-rail {
      background: url('../../assets/image/nocolor.png');
      height: 19px !important;
      background-size: contain;

      // background: rgb(218, 211, 211);
    }

    .ant-slider-rail:hover {
    }

    .ant-slider-handle {
      margin-top: 0px;
      cursor: e-resize;
    }

    .ant-slider-handle-1 {
      width: 9px;
      height: 100% !important;
      // background: #5A4CDB;
      border: 4px solid #5a4cdb;
      border-radius: 4px 0px 0px 4px;
      z-index: 100;
    }

    .ant-slider-handle-1:hover {
      border: 4px solid #5a4cdb;
      cursor: e-resize;
    }

    .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
      border: 4px solid #5a4cdb;
    }

    .ant-slider:hover .ant-slider-track:not(.ant-tooltip-open) {
      background: rgba(90, 76, 219, 0.16);
    }

    .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
      border-color: #5a4cdb;
    }

    .ant-slider-handle-2 {
      width: 9px;
      height: 100% !important;
      border: 4px solid #5a4cdb;
      border-radius: 0px 4px 4px 0px;
      z-index: 100;
    }

    .ant-slider-handle-2:hover {
      width: 9px;
      height: 100% !important;
      border: 4px solid #5a4cdb;
      border-radius: 0px 4px 4px 0px;
      cursor: e-resize;
    }

    .ant-slider-track {
      height: 100% !important;
      background: rgba(90, 76, 219, 0.16);
      border: 1px solid #5a4cdb;
    }

    .ant-slider-track :hover {
      height: 100% !important;
      background: rgba(90, 76, 219, 0.16);
      border: 1px solid #5a4cdb;
    }
  }
}
