
.item {
  // display: flex;
  // align-items: center;
  cursor: pointer;
  height: 26px;
  text-align: center;
  line-height: 26px;
  color: #1D264D;
  min-width: 26px;
  background-color: #fff;
  font-size: 2px;
  user-select: none;
  margin-right: 3px;
  border-radius: 2px;
  padding: 0 4px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,&.active {
    color: #5A4CDB;
  }

  &:last-child {
    margin-right: 0;
  }
}