.image-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  // margin-top: 24px;
  &:after {
    content: '';
    flex-grow: 999999999;
  }
}

.image-item {
  flex-shrink: 0;
  margin: 10px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(218, 218, 218, 1);
  transition: all 0.3s;
  &:hover {
    transform: scale(1.02);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
