.color {
  width: 258px;
  cursor: pointer;
  background: #ffffff;

  :global {
    .sketch-picker {
      background: #17171f !important;
      border-radius: 4px !important;
    }
  }
}

.chooseColor {
  width: 258px;
  height: 26px;
  border-radius: 4px;
  cursor: pointer;
}
