.colorPopover {
  width: 318px;
  border-radius: 4px;
  padding-top: 10px;

  .colorTab {
    margin: 0 10px;
    width: calc(100% - 20px);
    height: 36px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #E9E9E9;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .colorTabItemActive {
      background: #EEEFF2;
      border-radius: 4px;
      font-weight: 500 !important;

    }

    .colorTabItem {
      height: 100%;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 400;
      color: #262E48;
      line-height: 17px;
      cursor: pointer;

      &:hover {
        color: @primary-color;
      }

    }

  }

  :global {
    .sketch-picker {
      box-shadow: none !important;
    }

    .flexbox-fix {
      margin: 0 !important;
      padding: 0;
      padding-top: 10px;
    }

    .ant-radio-group {
      margin-left: 15px;
    }

    .gradient-color {
      width: 318px !important;
      background-color: #ffffff;

      .sketch-picker {
        background-color: #ffffff !important;
      }

      .gradient-picker-panel-input {
        background-color: #ffffff;
        color: #262e48;
        border: 1px solid #E9E9E9;

      }

      .deg-picker {
        background: #e5e5e5;
        border: 1px solid #E9E9E9;

        .deg-picker-main {
          background: #ffffff;
        }

        .deg-picker-main-chose {
          background: #262e48;
        }
      }
    }

    // .ant-radio-wrapper {
    //   font-size: 14px;
    //   font-weight: 400;
    //   color: #262e48;
    //   line-height: 20px;

    //   .ant-radio-inner {
    //     width: 15px !important;
    //     height: 15px !important;
    //     background: rgba(236, 236, 236, 1) !important;
    //     border-color: rgba(151, 151, 151, 1);
    //     border-width: 2px;
    //   }
    // }

    // .ant-radio-wrapper-checked {
    //   .ant-radio-inner {
    //     background: rgba(236, 236, 236, 1) !important;
    //     border-color: rgba(86, 70, 237, 1);
    //     border-width: 2px;
    //   }

    //   .ant-radio-inner::after {
    //     display: none;
    //   }
    // }
  }
}
