.Card {
  border-radius: 4px;
  position: relative;
  font-size: 12px;
  cursor: pointer;
  border: 2px solid transparent;
  background: #f5f5f5;
  overflow: hidden;

  &.active {
    border-color: @primary-color;
  }

  &:hover {
    .hidden {
      opacity: 1;
    }
    .show {
      opacity: 0;
      display: none;
    }
  }

  .hidden {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .show {
    transition: opacity 0.3s;
    opacity: 1;
  }
}
