.basics {
  height: 100%;
  padding: 31px 0 0 27px;

  .overturn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 23px;

    .label {
      width: 48px;
      height: 17px;
      font-size: 12px;
      font-weight: 400;
      color: #838390;
      line-height: 17px;
    }

    .active {
      background: #5646ed !important;
      color: #ffffff !important;
    }

    .icon15 {
      margin-right: 15px;
      font-size: 20px;
      color: #979797 !important;
    }

    .icon6 {
      margin-right: 6px;
      font-size: 20px;
      color: #979797 !important;
    }

    .button {
      margin-left: 20px;
      width: 159px;
      height: 38px;
      background: #353540;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: #c0c0cd;
    }
  }

  .bottom {
    padding-top: 11px;
    display: flex;
    flex-direction: column;

    .opacity {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 28px;
      width: 100%;

      .label {
        width: 48px;
        height: 17px;
        font-size: 12px;
        font-weight: 400;
        color: #838390;
        line-height: 17px;
      }

      .progress {
        // width: 100%;
        width: 248px;
        margin: 0 22px 0 19px;

        :global {
          .ant-slider {
            margin: 0px;
            padding: 0;
            height: 4px;
          }

          .ant-slider-handle {
            bottom: 1px;
            width: 7px;
            height: 10px;
            border: 0px;
            border-radius: 0;
            background: #ffffff;
          }

          .ant-slider-handle:before {
            content: '';
            position: absolute;
            top: 10px;
            width: 7px;
            border-width: 3px 3px 0 3px;
            border-style: solid;
            border-color: #ffffff transparent transparent transparent;
          }

          .ant-slider-track {
            background: #eeeff2;
          }

          .ant-slider-rail {
            background: #17171e;
          }

          .ant-progress {
            display: flex;
            height: 17px;
            line-height: 13px;
          }
        }
      }

      .number {
        width: 56px;
        height: 26px;
        background: #17171e;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        color: #d8d8d8;
        line-height: 17px;
      }
    }
  }
}
