.draft-list {
  display: grid;
  gap: 16px;
  flex-flow: wrap;
  grid-template-columns: repeat(auto-fill, 148px);

  &.draft-list-w {
    grid-template-columns: repeat(auto-fill, 314px);
  }
  .draft-item {
    position: relative;
  }
}

.draft-list-skeleton {
  .xiudd-skeleton {
    height: 176px;
  }
}
