.preview-modal {
  :global {
    .ant-modal-header {
      padding: 8px 24px;
    }
    .ant-modal-close-x {
      width: 42px;
      height: 42px;
      line-height: 42px;
    }
    .ant-modal-body {
      height: 525px !important;
      background: #1e1e1e !important;
      padding: 0;
    }
  }
  .preview-video {
    background-color: transparent !important ;
  }
}
