.shortcutKey {
  position: absolute;
  right: 73px;
  z-index: 2;
  padding: 0 10px;
  background-color: rgba(254, 254, 254, 0.5);
  box-shadow: 0 0 3px 0 rgba(137, 137, 137, 0.5);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  /* 整个滚动条 */
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* 滚动条上的滚动滑块 */
  ::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
  }

  .shortcutKey-icon {
    font-size: 28px;
  }

  &:hover {
    color: @primary-color;
  }
}

.shortcutKey-active {
  color: @primary-color;
}

.shortcutKey_Dropdown {
  display: flex;
  width: 265px;
  height: 483px;
  background: #ffffff;
  border-radius: 6px;
  flex-direction: column;
  padding: 18px 1px 18px 12px;
  box-shadow: 0px 0px 3px 0px rgba(137, 137, 137, 0.5);

  .shortcutKey_Dropdown_title {
    font-size: 14px;
    font-weight: 500;
    color: #262e48;
    line-height: 20px;
  }

  .shortcutKey_Dropdown_content {
    margin-top: 13px;
    overflow-y: auto;
    overflow-x: hidden;

    .shortcutKey_Dropdown_item {
      border-bottom: 1px solid #f2f2f2;
      margin-bottom: 16px;

      .item_title {
        font-size: 12px;
        font-weight: 500;
        color: #262e48;
        line-height: 17px;
        margin-bottom: 12px;
      }

      .item_item {
        width: 234px;
        height: 28px;
        background: #f6f6f6;
        border-radius: 4px;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #484e5f;
        line-height: 17px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        margin-bottom: 12px;

        .item_item_left {
        }
      }
    }

    .shortcutKey_Dropdown_item:nth-last-child(1) {
      border-bottom: none;
    }
  }
}
