.music-list-item {
  width: 100%;
  padding: 14px;
  background-color: #fff;
  color: #484e5f;
  border-radius: 4px;
  &:hover {
    box-shadow: 0px 2px 4px 0px #dde4e7;
  }
  .action-btn {
    display: none;
    float: right;
    padding: 4px 12px;
    background-color: @primary-color;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }

  .music-play-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    .play-icon {
      width: 18px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      background-color: #f3f5f6;
      // background-color: red;
      cursor: pointer;
      border-radius: 50%;
    }
    .music-process {
      flex: 1;
      // height: 10px;
      margin: 0 10px;
      overflow: hidden;
    }
    .music-time {
      width: 30px;
      margin-right: 6px;
      color: #7e8aa9;
    }
  }

  &:hover {
    .action-btn {
      display: inline-block;
    }
  }

  :global {
    :hover {
      .ant-slider-rail {
        background-color: #d3d7df;
      }
      .ant-slider-track {
        background-color: #484e5f;
      }
      .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
        border: solid 1px #484e5f;
      }
    }
    .ant-slider-handle {
      width: 10px;
      height: 10px;
      border: solid 1px #484e5f;
      margin-top: -3px;
    }
    .ant-slider-rail {
      background-color: #d3d7df;
    }
    .ant-slider-track {
      background-color: #484e5f;
    }
  }
}
