@import '/src/global.less';

.file-action-replace {
  font-size: 12px;
  background-color: @primary-color;
  padding: 2px 6px;
  color: #fff;
  border-radius: 4px;
  margin-right: 6px;
  cursor: pointer;
}

.num {
  color: @primary-color;
  font-size: 14px;
  padding: 0 4px;
}
