.FontSize {
  display: flex;
  align-items: center;
  width: max-content;
  margin-right: 3px;

  .select {
    margin: 0 1px;
  }

  .item {
    cursor: pointer;
    height: 26px;
    text-align: center;
    line-height: 26px;
    color: #1D264D;
    width: 26px;
    background-color: #fff;
    font-size: 14px;
    user-select: none;
  }

  :global {
    .ant-input-number {
      border: none;
      border-radius: 0;
    }
    .ant-input-number-handler-wrap {
      display: none;
    }
    .ant-input-number-input {
      padding: 3px;
      height: 26px;
      font-size: 12px;
      text-align: center;
    }
    .ant-select-item-option-content {
      text-align: center;;
    }
  }
}