.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  :global {
    .xiudd-skeleton-wrap {
      padding: 0;
    }
  }
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 18px 8px;
  // height: 65px;
  .title {
    font-size: 14px;
    color: #c0c0cd;
  }
}
