:global {
  .capacityToRemindModal {}
}

.capacityToRemindWarp {
  width: 475px;
  height: 277px;
  background: #FFFFFF;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .capacityToRemindWarpTop {
    margin-top: 47px;
    font-size: 18px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #262E48;
    line-height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .capacityToRemindWarpTopIcon {
      width: 18px;
      height: 18px;
      margin-right: 8px;
      background: #EF8A22;
      border-radius: 50%;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;

    }

  }

  .capacityToRemindWarpTopCont {
    width: 385px;
    margin-top: 33px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #484E5F;
    line-height: 30px;

    span {
      color: #5A4CDB;
      cursor: pointer;
    }
  }

  .capacityToRemindWarpTopFooter {
    margin-top: 40px;
    display: flex;
    flex-direction: row;

    .button1 {
      width: 134px;
      height: 34px;
      background: #EEEFF2;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #262E48;
      line-height: 20px;
      margin-right: 26px;

      &:hover {
        background: #5A4CDB;
        color: #FFFFFF;
      }
    }

    .button2 {
      width: 134px;
      height: 34px;
      background: #5A4CDB;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 20px;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
