.popover-tool-item {
  width: 125px;
  cursor: pointer;
  color: #484e5f;
  padding: 8px 25px;
  font-weight: 400;
  margin-bottom: 4px;
  display: flex;
  align-items: center;

  &.popover-tool-item-active {
    color: @primary-color;
    background-color: #e3e4ea;
  }

  &:hover {
    color: @primary-color;
    background-color: #f3f3f3;
  }
}
