@import '/src/global';
.xiudodo-topBar-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  min-width: 100%;
  z-index: 1;
  transition: all 0.3s;
}

.xiudodo-topBar-arrow {
  position: absolute;
  top: 0;
  background-color: #fff;
  height: 100%;
  box-shadow: 0px 0px 3px 0px rgba(137, 137, 137, 0.5);
  padding: 0 8px;
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: @primary-color;
  }

  &.xiudodo-topBar-arrow-left {
    left: 0;
  }
  &.xiudodo-topBar-arrow-right {
    right: 0;
    transform: rotateY(180deg);
  }
}
