.loginAlert {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  background: rgba(38, 46, 72, 0.63);
  z-index: 9999999;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  .btn {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: baseline;
    line-height: 30px;
    text-align: center;
    margin: 0 9px;
    cursor: pointer;
    background: #5a4cdb;
    &:hover {
      background: #8676e8;
    }
  }
  .closeBtn {
    width: 18px;
    height: 18px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    line-height: 18px;
    display: inline-block;
    cursor: pointer;
    margin: 12px 25px 0 0;
    float: right;
    &:hover {
      opacity: 0.85;
    }
  }
}
