.mattingModal {
  display: flex;
  flex-direction: column;
  padding: 50px 40px 40px;
  font-size: 14px;
  font-weight: 400;
  color: #262E48;
  line-height: 20px;

  .mattingModalTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 47px;

    .spanSpan {
      font-size: 16px;
      font-weight: 500;
      color: #5A4CDB;
    }
  }

  .mattingModalBtn {
    width: 198px;
    height: 41px;
    background: #5A4CDB;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
    margin: 0 auto;

    &:hover {
      opacity: 0.9;
    }
  }
}

.mattinBtn {
  height: 100%;
  min-width: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;

  .mattinBtnIcon {
    font-size: 18px;
    margin-right: 5px;
  }
}
