.textStyles {
  margin-top: 20px;
  // margin-left: 17px;
  display: flex;
  // justify-content: center;
  justify-content: space-between;
  flex-direction: row;

  :global {
    .font-family-wrap {
      width: 253px;
      height: 40px;
      background: #ffffff;
      border-radius: 4px;
      border: 1px solid #eaebee;
    }

    .overwrite-popover___1q1x8 {
      top: 30px !important;
      left: 0px !important;
    }
  }

  .fontcolor {
    margin-left: 27px;

    :global {
      .color-picker {
        top: 195px !important;
        left: 35px !important;
      }
    }
  }

}

.tiled {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.watermarkPosition {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .watermarkname {
    width: 56px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #262e48;
    line-height: 20px;
  }
}

.transparency {
  margin-top: 20px;

  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .right {
      width: 38px;
      height: 26px;
      background: #ffffff;
      border-radius: 2px;
      border: 1px solid #e1e5e9;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #484e5f;
      line-height: 20px;
    }
  }

  .bottom {
    :global {

      // .ant-slider-step {
      //   background: #484e5f !important;
      // }
      .ant-slider-track {
        background: #484e5f !important;
      }
    }

    // margin-top: 20px;
  }
}

.fontcolorIcon {
  position: relative;

  .toolsVipCard {
    position: absolute;
    top: -4px;
    margin-left: -8px;
    width: 26px;
    height: 14px;
    background: linear-gradient(90deg, #FAD9C8 0%, #E5B395 100%);
    border-radius: 4px 4px 4px 0px;
    display: inline-block;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #69382C;
    line-height: 14px;
    cursor: pointer;
    padding: 0px 4px;
  }
}