.size:hover,
.active {
  background: #f7f7f7;
}

.size {
  font-size: 14px;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
  overflow: hidden;
  // border-radius: 4px;
}

.size-list {
  width: 85px;
  height: 350px;
  // margin-right: 16px;
}

.action {
  border: 1px solid #d9d9d9;
  border-right: 0px;
  width: 29px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  display: inline-block;
}

.action:nth-last-child(1) {
  border: 1px solid #d9d9d9;
  border-left: 0px;
  width: 29px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  display: inline-block;
}

.input-number {
  width: 29px;
  text-align: center;

  :global {
    .ant-input-number-handler-wrap {
      display: none;
    }
  }
}
