.no-title-modal {
  :global {
    .ant-modal-body {
      padding: 0;
    }
    .ant-modal-content {
      border-radius: 8px;
      overflow: hidden;
    }

    .ant-modal {
      max-width: 100vw;
    }
  }
}
