<!doctype html>
<html lang="zh">

<head>
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="utf-8" />
  <meta name="srm-id" content="1" />
  <link rel="icon" href="//js.seapik.com/static/favicon.ico" type="image/x-icon">
</head>

<body>
  <div id="seapik"></div>
</body>

<script>
  const ico = document.querySelector('link[type="image/x-icon"]')

  if (window.location.host === 'edit.pngtree.com') {
    ico.href = 'https://pngtree.com/favicon.ico'

    document.title = 'Pngtree editor'
  } else {
    ico.href = '//js.seapik.com/static/favicon.png'
    document.title = 'Seapik editor'
  }

</script>

</html>
