.uploadProgress {
  width: 435px;
  height: 146px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 45px;

  .uploadProgressTitle {
    margin-top: 32px;
    margin-bottom: 27px;
    font-size: 16px;
    font-weight: 500;
    color: #262E48;
  }
}
