.top-tool-bar {
  height: inherit;
}

.tool-bar-flex-box {
  // height: inherit;
  display: flex;
  align-items: center;

  &>.label {
    min-width: 60px;
  }
}

.flex-space-between {
  justify-content: space-between;
}

.top-tool-bar-item-active {
  background-color: #f5f4ff;
  color: @primary-color;

  span,
  svg,
  span>svg {
    color: @primary-color;
  }
}

.font-sizeWrap {
  width: 88px;
  padding: 0px !important;
  margin: 5px 4px 5px 0 !important;

  .ant-input-number-input {
    padding: 3px;
    height: 26px;
    font-size: 12px;
    text-align: center;
  }

  span {
    span:nth-child(1) {
      text-align: center;
      border-radius: 4px 0 0 4px;
    }

    span:nth-last-child(1) {
      text-align: center;
      border-radius: 0 4px 4px 0;
    }
  }

  &> {

    span,
    .ant-input-number,
    .ant-input-number-input-wrap,
    input {
      border-radius: inherit;
      height: inherit;
    }
  }
}

.xiuIcon {

  // line-height: 18px;
  svg {
    // font-size: 18px;
    color: #484e5f;
  }

  &.font-24 svg {
    font-size: 24px;
  }

  &.font-18 svg {
    font-size: 18px;
  }

  &.font-14 svg {
    font-size: 14px;
  }
}

.fontTypesetting {
  &:hover {
    background-color: #f5f4ff;

    &>svg {
      color: @primary-color;
    }
  }
}

.xiudd-tool-left,
.xiudd-tool-right {
  display: flex;
}
