.animationPanel {
  width: 100%;
  height: 100%;

  :global {
    .ant-tabs {
      .ant-tabs-nav {
        height: 27px !important;
        border-radius: 2px !important;
        width: calc(100% - 36px);
        margin-left: 18px;
      }

      .ant-tabs-content-holder {
        height: calc(100% - 28px);
      }

      .ant-tabs-tab {
        &:first-child {
          margin-left: 8px !important;
        }
      }
    }
  }
}

.animationTabItem {
  width: 100%;
  height: 100%;
  padding-bottom: 66px;
  position: relative;
}

.animationListBox {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.animationListWhiteFont {
  :global {
    .animation-title {
      color: #838390;
    }

    .animation-classify-name {
      color: #fdfdfd;
    }
  }
}

.animationTimeBox {
  width: 100%;
  height: 61px;
  background-color: #353540;
  border-radius: 6px 0 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 16px;
  // display: flex;
  // align-items: center;

  :global {
    .ant-slider {
      flex: 1;
    }

    .ant-radio-wrapper {
      color: #fff;
      margin-right: 14px;
    }

    .ant-slider-track {
      background-color: @primary-color !important;
    }

    .ant-slider-handle {
      border-color: @primary-color !important;
    }

    .ant-slider-track,
    .ant-slider-rail {
      border-radius: 0;
      height: 2px;
    }

    .ant-slider-with-marks {
      margin-bottom: 30px;
    }

    .ant-slider-dot {
      width: 0;
      height: 10px;
      top: -10px;
      border-radius: 0;
      border-width: 1px;
      border-color: #f0f0f0 !important;
      transform: translateX(3px);
    }
  }

  .timeLabel {
    text-align: center;
    font-size: 14px;
    color: #838390;
    margin-bottom: 10px;
  }
}
