@import '/src/style/designer.theme.less';
.progress-rail {
  background-color: #fff;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  .progress-track {
    background-color: @primary-color;
    height: 100%;
    border-radius: 2px;
    transition: width 0.3s;
  }
}
