.xdd-designer-sider-panel-padding {
  padding-left: 22px;
}
.xdd-designer-sider-panel {
  height: 100%;
  position: relative;
  padding-left: 22px;
}

.xdd-designer-sider-tab {
  height: inherit;
  user-select: none;

  &.ant-tabs {
    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: #ffffff;
      }
    }

    .ant-tabs-nav::before {
      border-bottom: none;
    }

    .ant-tabs-nav {
      height: 41px;
      background: #353540;
      border-radius: 6px 0px 0px 0px;
    }

    .ant-tabs-content-holder {
      height: calc(100% - 42px);
    }

    .ant-tabs-content {
      height: 100%;
    }

    .ant-tabs-tab {
      color: #838390;
      font-size: 12px;
      &:hover {
        color: #ffffff;
      }
      &:first-child {
        margin-left: 38px;
      }
    }
  }
}

.xdd-designer-sider-tab-default {
  &.ant-tabs {
    .ant-tabs-nav {
      height: 41px;
      background: transparent;
      // border-radius: 6px 0px 0px 0px;
    }
    .ant-tabs-nav-list {
      margin-left: 18px;
    }
    .ant-tabs-tab {
      &:first-child {
        margin-left: 0px;
      }
    }

    .ant-tabs-ink-bar {
      background: #fff;
    }
  }
}
