@import '/src/global.less';

.xiudd-tool-item {
  min-width: 38px;
  height: 34px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  color: #262e48;
  border-radius: 4px;
  margin: 5px 4px;
  padding: 0 7px;

  // margin-right: 8px;
  &>div {
    line-height: 1;
  }

  &.xiudd-tool-item-hover {
    &:hover {
      background-color: #f5f4ff;
      color: @primary-color;
    }
  }

  &.xiudd-tool-item-active {
    background-color: #f5f4ff;
    color: @primary-color;
  }

  .xiudd-tool-item-name {
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .xiudd-tool-item-icon {
    font-size: 20px;
  }

  .ant-popover-arrow {
    display: none;
  }

  .ant-popover {
    top: 35px !important;
  }
}



.xiudd-tool-item-divider {
  margin: auto;
  height: 25px;
}

.toolItemTooltip {
  font-size: 12px;

  .ant-tooltip-inner {
    min-width: 30px;
    min-height: 30px;
    padding: 5px 6px;
  }
}

@media screen and (max-width: 1440px) {

  // .xiudd-tool-item-icon ~ .xiudd-tool-item-name {
  //   display: none;
  // }
  .showName {
    .xiudd-tool-item-name {
      display: block;
    }
  }

  .xiudd-tool-item-icon {
    font-size: 24px;
  }
}
