.role-part {
  width: 100%;
  background: #f1f1f1;
  border-radius: 4px;
  margin-top: 24px;
  .ant-tabs-ink-bar {
    display: none;
  }
  .ant-tabs-nav-wrap {
    width: 100%;
    height: 36px;
    background: #ffffff;
    border-radius: 4px 4px 1px 1px;
    margin: 2px;
  }
  .ant-tabs-tab {
    width: 59px;
    height: 36px;
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
    .ant-tabs-tab-btn {
      width: 100%;
      text-align: center;
    }
  }
  .ant-tabs-tab-active {
    width: 59px;
    height: 36px;
    background: @primary-color;
    .ant-tabs-tab-btn {
      color: #ffffff;
    }
  }
}
.role-list {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row;
  grid-gap: 15px 13px;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;
  padding-left: 13px;
  padding-bottom: 13px;
}
.role-item-choosed {
  border: 1px solid @primary-color !important;
}
.role-item {
  width: 200px;
  height: 57px;
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  flex-wrap: nowrap;
  padding: 9px;
  border: 1px solid #ffffff;
  cursor: pointer;
  &:hover {
    border: 1px solid @primary-color;
  }
}
.role-item-pic {
  width: 34px;
  height: 34px;
  min-width: 34px;
  min-height: 34px;
  // background: #7E8AA9;
  img {
    width: 100%;
    height: 100%;
  }
}
.role-item-right {
  max-width: 80%;
  margin-left: 10px;
}
.role-item-right-title {
  width: 100%;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #484e5f;
  line-height: 20px;
  display: flex;
  flex-wrap: nowrap;
  .title-icon {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    background: #e0ddff;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: @primary-color;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
  }
}
.role-item-right-desc {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: #7e8aa9;
  line-height: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
