.back {
  background-image: linear-gradient(
      45deg,
      #1c1c26 25%,
      transparent 0,
      transparent 75%,
      #1c1c26 0
    ),
    linear-gradient(
      45deg,
      #1c1c26 25%,
      transparent 0,
      transparent 75%,
      #1c1c26 0
    );
  background-position: 0 0, 8px 8px;
  background-size: 16px 16px;
}
