.item {
  position: relative;
  // width: 130px;
  height: 80px;
  background: #272731;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .autoDestroyVideo {
    position: relative;
  }
  &:hover {
    box-shadow: 0 0 4px #5646ed;
    .itemButton {
      display: flex;
    }
  }
  .time {
    width: 38px;
    height: 17px;
    background: rgba(255, 255, 255, 0.09);
    color: #ffffff;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    line-height: 17px;
    border-radius: 2px;
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }

  .itemButton {
    width: 20px;
    height: 20px;
    padding: 0 6px;
    position: absolute;
    bottom: 7px;
    display: none;
    background: #5646ed;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    z-index: 5;
    color: #ffffff;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    &.itemButtonReplace {
      left: 4px;
    }

    &.itemButtonAdd {
      right: 4px;
    }
  }
}
