@import '/src/global.less';

overlayClassName .overlay-tooltip {
  :global {
    .ant-tooltip-inner {
      font-size: 12px;
    }
  }
}

.cover-dropdown {
  :global {
    .ant-dropdown-menu-title-content {
      display: inline-block;
      width: 100%;
      text-align: center;
    }

    .ant-dropdown-menu-item {
      color: #484e5f;
    }

    .ant-dropdown-menu-item:hover,
    .ant-dropdown-menu-submenu-title:hover {
      color: @primary-color !important;
    }
  }
}

.cover-popover {
  :global {
    .ant-popover-arrow {
      display: none;
    }
  }
}

.headerWrap {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;

  * {
    user-select: none;
  }

  .logo {
    // display: inline-block;
    background: url(//js.xiudodo.com/index_img/editorV7.0/xdd_white_logo.png)
      no-repeat 50%;
    // margin-top: 12px;
    margin-left: 27px;
    width: 134px;
    height: 31px;
    background-size: contain;
  }

  .headerItem {
    position: relative;
    padding: 0 10px;
    cursor: pointer;
    margin: 0 10px;
  }

  .templateTitle {
    cursor: pointer;
    .title {
      display: inline-block;
      min-width: 20px;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: inherit;
    }
  }

  .btn-bg {
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    background-color: #f6f7f7;
    border-radius: 4px;
  }

  .icon {
    height: inherit;
    line-height: inherit;
    padding: 0 4px;
    // color: #979797;
  }

  .disabled {
    cursor: not-allowed;
    color: #979797;
  }

  .left {
    display: flex;
    align-items: center;
    color: rgba(72, 78, 95, 1);

    .next {
      transform: rotateY(180deg);
    }
  }

  .right {
    display: flex;
    color: @primary-color;
    align-items: center;
    .rightbutton {
      width: 110px;
      height: 45px;
      background: #f2f3f6;
      border-radius: 4px;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #5a4cdb;
      line-height: 20px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 11px;
      &:hover {
        background: #eeecff !important;
        color: #5a4cdb !important;
      }
    }
    .rightbutton2 {
      width: 110px;
      height: 45px;
      background: linear-gradient(245deg, #854aff 0%, #5a4cdb 100%);
      border-radius: 4px;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #ffffff;
      line-height: 20px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 13px;
      &:hover {
        background: #6c5ef0 !important;
        color: #ffffff !important;
      }
    }
    .save {
      color: #484e5f;
      margin-right: 16px;
    }
    .save-loading {
      color: @primary-color;
      position: relative;
      svg {
        color: @primary-color;
      }
      &::after {
        content: '...';
        position: absolute;
        animation: save-loading 1s infinite;
      }
    }

    @keyframes save-loading {
      0%,
      100% {
        right: -6px;
      }
      50% {
        right: 0px;
      }
    }

    .preview {
      width: 90px;
      height: 45px;
      line-height: 45px;
      // padding: 0 25px;
      border-radius: 4px;

      text-align: center;

      background-color: #f2f3f6;
      cursor: pointer;
      color: @primary-color;

      &:hover {
        background: #e9e7fd;
      }
    }
  }
}
