@media screen and (max-width: 1600px) {
  .uploadFileList {
    display: flex;
    height: 420px;

    .upload-file-drag-desc {
      display: none;
      position: absolute;
      background: rgba(0, 0, 0, 0.7400);
      border: 1px solid #FFFFFF;
      width: calc(100% - 32px);
      height: 100%;
      margin: 0 16px;
    }

    .upload-file-drag-default {
      display: block;
    }

    .upload-file-dragenter {
      display: block;
      background-color: rgba(0, 0, 0, 0.52);
      z-index: 10;
      color: #fff;

      .upload-file-drag-icon {
        width: 21px;
        height: 21px;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        margin-bottom: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .upload-file-drag-desc-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .uploadList {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;



      .fileItem {
        // width: 160px;
        // height: 104px;
        // background: #d8d8d8;
        border-radius: 4px;
        margin-left: 14px;
        margin-right: 6px;
        margin-bottom: 20px;
        position: relative;
        margin-top: 2px;

        &:hover {
          outline: 1px solid @primary-color;

          .moreDropdown {
            display: flex;
          }

          .checkboxItem {
            display: flex;
          }
        }

        .checkboxItemActive {
          display: flex !important;
        }

        .checkboxItem {
          display: none;
          position: absolute;
          z-index: 3;
          top: 4px;
          left: 4px;
        }

        .moreDropdown {
          display: none;
          position: absolute;
          z-index: 3;
          top: 4px;
          right: 4px;
        }

        .not-allow {
          width: 160px;
          height: 104px;
          background-color: #000;
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: red;
          z-index: 1;
          font-size: 12px;
          border-radius: 4px;
        }

        .file-item-content {
          width: 100%;
          height: 100%;
        }
      }

      .uploadListPagination {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .uploadFileListCheckAll {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px 16px 16px;
      position: sticky;
      top: 0;
      z-index:11;
      background: #ffffff;
      .checkAllLeft{
        .checkAllNum{
          margin-left: 10px;
          margin-right: 10px;
          padding-right: 4px;
          border-right: 1px solid #EBEBEB;
        }
        .checkAllDel{
          cursor: pointer;
          &:hover{
            color: @primary-color;
          }
        }

      }
      .checkAllOut{
        cursor: pointer;
        transition: 0.3s;
        &:hover{
          color: @primary-color;
        }
      }
    }

  }

  .uploadEmpty {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .uploadEmptyImg {
    }

    .uploadEmptyTxt {
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #7e8aa9;
      margin-bottom: 31px;
    }

    .uploadEmptyButton {
      width: 132px;
      height: 36px;
    }
  }
}

@media screen and (min-width: 1600px) {
  .uploadEmpty {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .uploadEmptyImg {
    }

    .uploadEmptyTxt {
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #7e8aa9;
      margin-bottom: 31px;
    }

    .uploadEmptyButton {
      width: 132px;
      height: 36px;
    }
  }

  .uploadFileList {
    display: flex;
    height: 664px;

    .upload-file-drag-desc {
      display: none;
      position: absolute;
      width: calc(100% - 32px);
      height: 100%;
      margin: 0 16px;

    }

    .upload-file-drag-default {
      display: block;
    }

    .upload-file-dragenter {
      display: block;
      background-color: rgba(0, 0, 0, 0.52);
      z-index: 10;
      color: #fff;

      .upload-file-drag-icon {
        width: 21px;
        height: 21px;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        margin-bottom: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .upload-file-drag-desc-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


    .uploadList {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;


      .fileItem {
        // background: #d8d8d8;
        border-radius: 4px;
        margin-left: 14px;
        margin-right: 6px;
        margin-bottom: 20px;
        position: relative;
        margin-top: 2px;

        &:hover {
          outline: 1px solid @primary-color;

          .moreDropdown {
            display: flex;
          }

          .checkboxItem {
            display: flex;
          }
        }

        .checkboxItemActive {
          display: flex !important;
        }

        .checkboxItem {
          display: none;
          position: absolute;
          z-index: 3;
          top: 4px;
          left: 4px;
        }

        .moreDropdown {
          display: none;
          position: absolute;
          z-index: 3;
          top: 4px;
          right: 4px;
        }

        .not-allow {
          width: 171px;
          height: 114px;
          background-color: #000;
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: red;
          z-index: 1;
          font-size: 12px;
          border-radius: 4px;
        }

        .file-item-content {
          width: 100%;
          height: 100%;
        }
      }

      .uploadListPagination {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .uploadFileListCheckAll {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px 16px 16px;
      position: sticky;
      top: 0;
      z-index:11;
      background: #ffffff;
      .checkAllLeft{
        .checkAllNum{
          margin-left: 10px;
          margin-right: 10px;
          padding-right: 4px;
          border-right: 1px solid #EBEBEB;
        }
        .checkAllDel{
          cursor: pointer;
          &:hover{
            color: @primary-color;
          }
        }

      }
      .checkAllOut{
        cursor: pointer;
        transition: 0.3s;
        &:hover{
          color: @primary-color;
        }
      }
    }
  }
}
