.maskModule {
  height: 100%;
  width: 100%;
  padding: 6px 0;
}

.module-priview-popover {
  color: pink;

  &.ant-popover {
    top: 55px !important;
  }

  .ant-popover-arrow {
    display: none;
  }
}
