.xiuduoduo-preview-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.xiuduoduo-preview-main {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  height: inherit;
  .xiuduoduo-preview-video {
    flex: 1;
    background-color: aqua;
  }
  .xiuduoduo-preview-bottom {
    height: 46px;
    background-color: blueviolet;
  }
}
