.font-color {
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}
.font-color-popover {
  padding-top: 0;
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner-content {
    padding: 0;
  }
}
