.menu {
  width: 98px;
  :global {
    .ant-dropdown-menu-item {
      justify-content: center;
      color: #838390;
      &:hover {
        color: #fff;
      }
    }
    .ant-dropdown-menu-item-disabled {
      color: #404042;
      &:hover {
        color: #404042;
        background-color: #32323b;
      }
    }
  }
}

.overlay-dropdown {
  :global {
    .ant-dropdown-menu-light {
      background-color: #272731;
    }
    .ant-dropdown-menu-item {
      &.ant-dropdown-menu-item-active {
        background-color: #32323b !important;
      }
    }
  }
}
