.colorPickup {
  width: 100%;
  display: flex;
  flex-direction: column;

  :global {
    .saturation-white {
      cursor: pointer;
    }

    .chrome-picker {
      box-shadow: none !important;
    }
  }

  .pointer {
    margin-left: -6px;
    margin-top: -2px;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    box-shadow: 0px 0px 8px 0px rgba(44, 44, 44, 0.5000), 0px 0px 4px 0px rgba(0, 0, 0, 0.5000);
    border: 3px solid #FFFFFF;
  }

  .huePicker {
    display: flex;
    margin-top: 19px;
    cursor: pointer;

    :global {
      .slider-picker {
        width: 100%;
      }


      .slider-picker>div:nth-child(1) {
        height: 10px !important;
      }

      .slider-picker>div:nth-child(2) {
        display: none;
      }

    }

  }

  .alphaPicker {
    display: flex;
    margin-top: 23px;
    cursor: pointer;
  }

  .colorPickupFooter {
    margin-top: 20px;
    display: flex;
    flex-direction: row;

    .left {
      width: 41px;
      height: 38px;
      background: #FFFFFF;
      border-radius: 4px;
      border: 1px solid #E9E9E9;
      margin-right: 15px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;

      &:hover {
        background: #f5f4ff !important;
      }
    }

    .content {
      flex: 1;
      height: 38px;
      background: #FFFFFF;
      border-radius: 4px;
      border: 1px solid #E9E9E9 !important;
      font-size: 14px;
      font-weight: 400;
      color: #484E5F;
      line-height: 20px;
      text-align: center;
    }

    .right {
      margin-left: 15px;
      width: 84px;
      height: 38px;
      background: #FFFFFF;
      border-radius: 4px;
      border: 1px solid #E9E9E9 !important;
      font-size: 14px;
      font-weight: 400;
      color: #484E5F;
      line-height: 20px;
      text-align: center;

      :global {
        .ant-input-number-input {
          height: 38px;
          text-align: center;
        }
      }
    }

  }

  :global {
    .chrome-picker>div:nth-child(2) {
      display: none !important;
    }
  }
}
