.brandModalTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .left {
    cursor: pointer;
    display: flex;
    align-items: center;

    .leftIcon {
      font-size: 16px;
      color: #262E48;
    }

    .leftTitle {
      max-width: 200px;
      font-size: 12px;
      font-weight: 500;
      color: #262E48;
      margin: 0 6px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; // 默认不换行；
    }

    .leftIcon1 {
      font-size: 8px;

    }
  }

  .right {
    width: 24px;
    height: 17px;
    font-size: 12px;
    font-weight: 400;
    color: #262E48;
    line-height: 17px;
    cursor: pointer;
  }
}
