.timeLine-item-wrapper {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.timeLine-item {
  display: inline-block;
  line-height: 1;
  // overflow: hidden;
}
.timeLine-dragCamera {
  position: absolute;
  opacity: 0.5;
  left: 0;
  top: 7px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.5s;
  border-radius: 5px;
  padding: 2px;
  background: linear-gradient(311deg, #af17ff 0%, #2d27ff 100%);
  border-radius: 4px;
  font-size: 12px;
  color: #ffffff;
  cursor: grab;
  pointer-events: all;

  &.timeLine-dragCamera-active {
    opacity: 1;
  }

  &.timeLine-dragCamera-dragging {
    cursor: grabbing;
  }

  &:hover {
    opacity: 0.8;
    box-shadow: 0px 0px 4px 0px @primary-color;
  }
  :global {
    .ant-dropdown {
      top: -6px !important;
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      font-size: 14px;
      font-weight: 400;
      color: #1d264d;
    }
    // 操作条样式
    .timeLine-handler {
      // display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      width: 8px;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.7);
      cursor: e-resize;

      &:hover {
        opacity: 1;
      }

      &:first-child {
        border-radius: 4px 0 0 4px;
        left: 0;
      }
      &:last-child {
        border-radius: 0 4px 4px 0;
        right: 0;
      }
    }

    .timeLine-handler-ghost {
      opacity: 0;

      &:hover {
        opacity: 0;
      }

      &:first-child {
        // margin-left: -10px;
        transform: translateX(-100%);
      }

      &:last-child {
        // margin-right: -10px;
        transform: translateX(100%);
      }
    }

    .timeLine-handler-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;

      span {
        display: inline-block;
        width: 1px;
        height: 7px;
        background-color: #fff;
        margin: 0 1px;
      }

      &:hover {
        .timeLine-handler-tooltip {
          transform: translate(-50% + 4px, -100% - 30px);
          opacity: 1;
        }
      }

      .timeLine-handler-tooltip {
        position: fixed;
        pointer-events: none;
        max-width: 320px;
        background-color: rgb(60, 60, 72);
        padding: 3px 6px;
        border-radius: 3px;
        opacity: 0;
        font-size: 12px;
        color: #fff;
        z-index: 100;
        transform: translate(-50%, 0);
      }
      .timeLine-handler-tooltip-content {
        width: 100%;
        height: 100%;
        position: relative;
      }

      .timeLine-handler-tooltip-arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -8px;
        width: 0;
        height: 0;
        border-top: 8px solid rgb(60, 60, 72);
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
      }
    }
  }
}
// 2个镜头之间的连线部分
.timeLine-dragCamera-link {
  height: 100%;
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-end;
  padding-bottom: 14px;
  .line {
    width: 100%;
    height: 1px;
    background-color: #17d0d7;
    position: relative;
  }
  .dian {
    width: 3px;
    height: 3px;
    background: #17d0d7;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: -1px;
  }
  .triangle {
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left: 4px solid #17d0d7;
    position: absolute;
    right: -4px;
    top: -350%;
  }
  .add {
    width: 15px;
    height: 15px;
    background: #5a4cdb;
    border-radius: 2px;
    color: #ffffff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    margin-left: 10px;
    cursor: pointer;
  }
}
.last-dragCamera-link {
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 0px;
  .add {
    width: 18px !important;
    height: 18px !important;
    border-radius: 4px !important;
    font-size: 12px !important;
    margin-left: 4px;
  }
  .line {
    display: none !important;
  }
}
.no-action {
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  .add {
    display: none !important;
  }
}
.no-camera {
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}
.dragCamera-title {
  max-width: 80%;
  overflow: hidden; //超出的文本隐藏
  text-overflow: ellipsis; //溢出用省略号显示
  white-space: nowrap; //溢出不换行
}
.actionPopover {
  padding-left: 0px !important;
  :global {
    .ant-popover-arrow {
      display: none;
    }
  }
}
.actionMenu {
  width: 100px;
  padding: 5px 0;
  background: #ffffff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #1d264d;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}
.actionMenuItem {
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  transition: opacity 0.5s;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
