
.wrapper {
  width: 1107px;
  height: 816px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .header {
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    background: #F2F2F2;
    height: 44px;
    align-items: center;

    .title {
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 600;
      color: #262E48;
    }

    .right {
      display: flex;
      align-items: center;

      .search {
        margin: 0;
        margin-right: 12px;
      }
    }
  }

  .body {
    display: flex;
    flex: 1;
    height: 0;
    background-color: #fff;

    .aside {
      border-top: 1px solid #fff;
      background: #F2F2F2;
      padding-top: 24px;
      padding-left: 6px;

      .templateType {
        white-space: nowrap;
        padding: 12px;
        color: #262E48;
        cursor: pointer;

        &.active {
          background-color: #fff;;
          color: #5A4CDB;
        }
      }
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 20px;
      position: relative;

      .result {
        span {
          color: #5A4CDB;
        }
      }

      .footer {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .wrapper {
    height: 662px;
  }
}