.toolMore {
  min-width: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  color: #262e48;
  border-radius: 4px;
  margin: 5px 4px;
  transition: background-color .1s linear,
    border-color .1s linear,
    color .1s linear;

  .ant-popover-arrow {
    display: none;
  }

  .toolMoreIcon {
    font-size: 20px;
  }

  // margin-right: 8px;
  &>div {
    line-height: 1;
  }

  &:hover {
    background-color: #f5f4ff;
    color: @primary-color;
  }




}

.toolMoreContent {
  padding: 0 5px;
  height: 45px;
  background: #FFFFFF;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  min-width: 100%;
  z-index: 1;
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;

}
