.lllegal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.71);
    color: #EE210A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .lllegalIcon {
        font-size: 40px;
    }

    .lllegalTip {
        width: 100%;
        text-align: center;
        font-size: 40px;
        font-weight: 400;
        word-break:break-all;
    }
}