.sw-action-slider-box {
    width: 100%;
    display: flex;
    align-items: center;
}

// 修改antd默认样式
.sw-action-slider-box>.ant-slider {
    flex-grow: 1;
}

// 修改antd默认样式
.sw-action-slider-box>.ant-slider>.ant-slider-track {
    background-color: #474160;
}

// 修改antd默认样式
.sw-action-slider-box>.ant-slider>.ant-slider-handle {
    background-color: #474160;
    border: solid 2px #474160;
}

.sw-action-slider-tab {
    height: 17px;
    font-size: 12px;
    font-weight: 400;
    color: #747A91;
    line-height: 17px;
}