.defaultPage {
  height: 100%;
  display: flex;
  flex-direction: column;

  .defaultPageDivider {
    min-width: 318px;
    width: 318px;
    margin: 7px 16px 4px !important;
    background: #E1E5E9;
  }

  .defaultPageContent {
    display: flex;
    flex: 1;
    padding-bottom: 16px;
    overflow: hidden;

    .defaultPageContentTabIcon {
      margin-left: 2px;
      font-size: 10px;
    }




    :global {
      .ant-tabs-nav {
        margin: 0 !important;
        padding: 2px 16px;
        color: #262E48;
      }

      .ant-tabs-nav::before {
        border-bottom: 0px !important;
      }

      .ant-tabs-ink-bar {
        height: 0px !important;
      }

      .ant-tabs-content {
        height: 100%;
      }

      .ant-tabs-tab {
        font-size: 12px !important;
        color: #262E48 !important;
      }

      .ant-tabs {
        font-size: 12px;
      }
    }
  }
}

.defaultPageContentMenuItem {
  font-size: 12px !important;
}
