@import '/src/global.less';
.upgradeVipGuidance {
  .upgradeVipGuidance-title {
    font-size: 20px;
    font-weight: 500;
    color: @black-font-color;
    text-align: center;
  }

  .upgradeVipGuidance-main {
    p {
      // padding-left: 40px;
      font-size: 14px;
      color: #484e5f;
      line-height: 20px;
      margin-bottom: 22px;

      .upgradeVipGuidance-label {
        color: @primary-color;
        font-weight: 500;
      }

      i {
        font-size: 20px;
        margin: 0 5px;
        color: @primary-color;
      }

      em {
        font-style: normal;
        color: #e46214;
        font-weight: 500;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
