@import '/src/style/variable.less';

#ppt_editor {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}

section {
  flex: 1;
  display: flex;
  overflow: hidden;
}

header {
  height: 56px;
  background-color: #fff;
  border-bottom: 1px solid @divider-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

aside {
  width: 260px;
  background-color: #fff;
  overflow-y: auto;
}

main {
  flex: 1;
}

#canvas_container {
  background-color: #f1f2f4;
}

.preview-static {
  position: relative;
  margin: 16px auto;
  width: 192px;
  background-color: #f1f2f4;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.05);

    .remove-action {
      opacity: 1;
    }
  }

  &.active {
    outline: 2px solid @primary-color;
    outline-offset: 2px;
  }
}

.actionBar {
  background-color: #fff;
  padding: 6px;
}
.remove-action {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  &:hover {
    color: @primary-color;
  }
}

.static-order {
  min-width: 18px;
  height: 18px;
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-radius: 2px;
}
