.pub-modal-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
}

.PMM-header {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.PMM-main {
  width: 100%;
  height: auto;
}

.PMM-footer {
  margin-top: 35px;

  > button {
    width: 218px;
    height: 49px;
  }
}
