.preview-video-process {
  flex: 1;

  &:hover {
    .ant-slider-rail {
      background-color: #d3d7df;
    }
    .ant-slider-track {
      background-color: @primary-color;
    }
  }
  .ant-slider-rail {
    height: 7px;
    background-color: #d3d7df;
  }
  .ant-slider-track {
    height: 7px;
    background-color: @primary-color;
  }
  .ant-slider-handle {
    margin-top: -3px;
  }
}

.preview-video-process-time {
  margin-left: 16px;
}
