.limitedTimeBenefits {
  margin-top: 16px;
  display: flex;
  width: 100%;
  height: 111px;
  background: #F8F9FC;
  border-radius: 4px;
  position: relative;
  padding-top: 5px;
  display: flex;
  flex-direction: column;

  .limitedTimeBenefitsTop {
    display: flex;
    flex-direction: row;
    align-items: center;
  }



  .limitedTimeBenefitsRight {
    margin-left: 11px;
    height: 21px;
    font-size: 12px;
    font-family: PingFangSC-Medium, PingFang SC;
    line-height: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;

    .topLeft {
      color: #484E5F;

    }

    .topRight {
      margin-left: 2px;
      color: #9AA0A8;
    }

  }

  .limitedTimeBenefitsBottom {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .bottomItem {
      margin-left: 6px;
      margin-top: 6px;
      margin-right: 25px;
      width: 279px;
      height: 30px;
      background: #FFFFFF;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .bottomItemIcon {
        margin-left: 8px;
        margin-right: 10px;
        font-size: 14px;
        color: #7E8AA9;
      }

      .bottomItemTxt {
        width: 60%;
        font-size: 12px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #484E5F;
        line-height: 17px;

        span {
          color: #5A4CDB;
        }
      }

      .bottomItemTxt1 {
        width: 30%;
        // margin-left: 41px;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #272E48;
        line-height: 17px;

        span {
          color: #7E8AA9;
          text-decoration: line-through
        }
      }
    }
  }
}
