@import '../index.module.less';

.vip-interest {
  width: @vip-interest-width;
  // height: 100%;
  background: #fafaff;
  // background-color: rgba(242, 242, 254, 0.5);
  padding: 20px 1px 20px 15px;
  position: relative;
  user-select: none;

  .vip-interest-line {
    width: 177px;
    border-bottom: 1px solid #EEEEF4;
    margin: 15px 0;
  }



  .current-vip-interest {
    width: 200px;
    margin-top: 20px;
    padding-left: 8px;

    .current-vip-interest-title {
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #262E48;
      line-height: 16px;
      margin-bottom: 10px;
      margin-top: 16px;
    }



    li {
      font-size: 12px;
      font-weight: 400;
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #484E5F;
      margin-bottom: 8px;

      .strong {
        font-weight: bold;
      }

      span {
        font-size: 12px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #5A4CDB;
      }
    }
  }



  >h6 {
    // font-size: 18px;
    // font-weight: 500;
    // color: rgba(87, 92, 105, 1);
    margin-left: 6px;
    line-height: 26px;
    margin-bottom: 0px !important;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #A99B90;
    line-height: 22px;

    p {
      font-weight: bold;
    }
  }

}
