.brandList {
  padding: 36px 0;

  .brandListTitle {
    height: 25px;
    font-size: 18px;
    font-weight: 500;
    color: #262E48;
    line-height: 25px;
    padding: 0 39px;
  }

  .brandListContent {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 500px;
    overflow-y: auto;
    padding: 0 39px;

    .brandListItemActive {
      box-shadow: 0px 0px 7px 0px rgba(164, 164, 164, 0.5000);
      border: 1px solid #5A4CDB !important;
    }

    .brandListItem {
      width: 263px;
      height: 180px;
      background: #FFFFFF;
      border-radius: 6px;
      border: 1px solid #E4E4E4;
      display: flex;
      flex-direction: column;
      padding: 11px 12px;
      margin-bottom: 20px;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 0px 7px 0px rgba(164, 164, 164, 0.5000);
        border: 1px solid #5A4CDB;
      }

      .itemTop {
        width: 100%;
        flex: 1;
        background: #EDEDED;
        border-radius: 6px;
        display: flex;
        flex-direction: column;

        .itemTopImg {
          width: 100%;
          height: 112px;
          border-radius: 6px;
          box-sizing: border-box;

          img {
            display: block;
            margin: auto;
            max-width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }

        .itemTopColor {
          height: 18px;
          display: flex;
          flex-direction: row;

          .itemTopColorItem {
            height: 100%;
            flex: 1;
          }

          .itemTopColorItem:nth-child(1) {
            border-radius: 0 0 0 6px !important;
          }

          .itemTopColorItem:nth-last-child(1) {
            border-radius: 0 0 6px 0;
          }
        }
      }

      .itemBottom {
        margin-top: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .itemBottomLeft {
          font-size: 14px;
          font-weight: 500;
          color: #262E48;
        }


      }
    }

  }

}
