.more-list {
  height: 100%;
  display: flex;
  flex-direction: column;

  :global {
    .infinite-loader-wrap {
      flex: 1;
      height: 0;
    }

    .infinite-loader {
      padding-bottom: 10px;
    }
  }

  .class-name {
    cursor: pointer;
    margin-left: 16px;
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: 500;
    color: #262E48;

    &:hover {
      color: @primary-color;
    }
  }
}
