@import '/src/global.less';
.xiudod-bottom-simple-tabs {
  padding-left: 16px;

  .xiudod-bottom-simple-tab {
    margin-right: 30px;
    font-size: 14px;
    color: #262e48;
    cursor: pointer;
    &.xiudod-bottom-simple-tab-active,
    &:hover {
      color: @primary-color;
    }
  }
}

.bottom-simple-goback {
  cursor: pointer;
  color: #262e48;
  font-size: 14px;
  &:hover {
    color: @primary-color;
  }
}

.bottom-simple-content {
  flex: 1;
  display: flex;
  .bottom-simple-assets {
    display: flex;
    align-items: center;

    margin: 16px 0 8px 16px;
    flex: 1;
    // background-color: pink;
    overflow: auto;
    position: relative;

    &::-webkit-scrollbar {
      opacity: 0;
      width: 6px !important;
      height: 8px !important;
    }
  }
}

.part-tabs {
  padding-left: 30px;
  .part-tabs-name {
    display: inline-block;
    width: 77px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
    border-radius: 4px 4px 0px 0px;
    background-color: #f3f5f6;
    margin-right: 2px;
    font-size: 12px;
    &.part-tabs-name-active,
    &:hover {
      color: @primary-color;
    }
  }
}

.image-multi-replace-wrap {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
