@import '/src/style/designer.theme.less';

.dot {
  position: absolute;
  display: inline-block;
  content: '';
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  bottom: -12px;
  left: -0px;
}
.static-video {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.slider-wrap {
  width: 100%;
  height: 62px;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 30px;
  .slider-wrap-ant {
    width: 98%;
    &.ant-slider {
      .ant-slider-rail,
      .ant-slider-step,
      .ant-slider-track {
        height: 8px;
      }
      .ant-slider-mark {
        margin-bottom: 0 !important;
        top: 20px !important;
      }
      .ant-tooltip-inner {
        background-color: transparent;
        padding: 10px 0 0;
      }

      .ant-slider-rail {
        background-color: #d3d3d3;
      }

      .ant-slider-handle {
        background-color: #5a4cdb;
        width: 10px;
        height: 16px;
        border-radius: 0;
        top: -10px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        &::after {
          .dot;
          background-color: #fff;
        }
      }

      .ant-slider-dot {
        width: 8px;
        height: 8px;
        background-color: #000;
        border-color: #000;
        top: 0px;

        &::after {
          content: '';
          width: 10px;
          height: 16px;
          position: absolute;
          top: -20px;
          left: -3px;
          border-radius: 0;
          border-bottom-left-radius: 50%;
          border-bottom-right-radius: 50%;
          background-color: #000;
          border-color: #000;
          display: inline-block;
        }
      }

      .ant-slider-track {
        background-color: @primary-color;
        &:nth-child(2n-1) {
          // background-color: #f5f5f5;
          // display: none;
          width: 0px !important;
        }
      }
      .ant-slider-tooltip {
        top: 16px !important;
      }
      .ant-tooltip-arrow {
        display: none;
      }
      .ant-tooltip-inner {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }
}
.static-tip {
  width: 100%;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #7e8aa9;
  line-height: 17px;
}

.submit-play {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #d8d8d8;
  color: #484e5f;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  cursor: pointer;
  &:hover {
    color: @primary-color;
  }
}

.video-cover-play {
  width: 47px;
  height: 47px;
  text-align: center;
  line-height: 47px;
  border-radius: 50%;
  background-color: #0000005e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  color: #fff;
  font-size: 26px;
  z-index: 99999;
}

.video-cover-wrap {
  .video-cover-preivew-video {
    position: relative;
    height: 300px;
  }

  .ant-tabs-tab {
    padding-top: 6px;
  }
  :global {
    .ant-btn-primary {
      color: @primary-color;
      background: #ffffff;
    }
  }
}
// 上传部分
.cover-upload {
  width: 100%;
  border-top: 1px solid #dadbdc;
  display: flex;
  flex-wrap: nowrap;
  padding: 22px 0 9px 0;
}
.cover-upload-btn {
  display: flex;
  justify-content: space-between;
  padding: 20px 16px;
  & > .btn {
    flex: 1;
    &:first-child {
      margin-right: 16px;
    }
    & > span {
      & > div {
        width: 100%;
      }
      display: inline-block;
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
}
// 上传按钮
.upload-icon {
  width: 65px;
  height: 65px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  font-size: 12px;
  font-weight: 500;
  color: #484e5f;
  line-height: 17px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding: 13px;
  cursor: pointer;
  &:hover {
    color: @primary-color;
  }
  .text {
    width: 100%;
    margin-top: 2px;
  }
}
.cover-pic-time {
  width: 114px;
  height: 67px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}
.upload-tip {
  width: 100%;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #b6bccc;
  line-height: 17px;
}
.submit {
  width: 138px;
  height: 38px;
  border-radius: 21px;
  margin-left: 200px;
  margin-top: 23px;
}

@media screen and (max-width: 1440px) {
  .video-cover-preivew-video {
    height: 300px !important;
  }
}
