.time-line-skeleton {
  width: 100%;
  height: 225px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  .time-line-skeleton-part-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .time-line-skeleton-part {
    height: 90px;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }

  .time-line-skeleton-audio {
    width: 100%;
    height: 30px;
    margin-top: 8px;
  }
}
