.transition-connect {
  width: 0;
  z-index: 40;
  pointer-events: none;

  .transition-connect-icon {
    pointer-events: all;
    width: 15px;
    height: 15px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    margin-left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    color: black;
    .transition-connect-line {
      width: 1px;
      height: 10px;
      background-color: #626273;
    }

    &:hover {
      color: @primary-color;

      .transition-connect-line {
        background-color: @primary-color;
      }
    }
  }
}
