.couponWarp {
  display: flex;
  flex-direction: row;

  .coupon {
    margin-top: 8px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;

    .couponTitle {
      // margin-top: 14px;
      font-size: 12px;

      font-weight: 400;
      color: #484e5f;
      line-height: 17px;
    }



    .couponContentWarp {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .couponContentTxt {
      margin-top: 8px;
      height: 20px;
      font-size: 14px;
      ;
      font-weight: 500;
      color: #E43E39;
      line-height: 20px;
      margin-left: 20px;
      text-decoration: underline;
      cursor: pointer;
    }

    .couponContent {
      margin-top: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .couponRadio {
        width: 15px;
        height: 15px;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #cdd0d4;
        color: #ffffff;
      }

      .couponCard {
        margin-left: 14px;
        width: 167px;
        height: 44px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-size: 167px 44px !important;

        .cardLeft {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding-left: 15px;
          margin-right: 21px;

          .cardLeftLeft {
            font-size: 13px;

            font-weight: 600;
            color: #e4423d;
            line-height: 18px;
            letter-spacing: 1px;
          }

          .cardLeftRight {
            font-size: 13px;

            font-weight: 600;
            color: #e4423d;
            line-height: 18px;
            letter-spacing: 1px;
          }
        }

        .cardRight {
          .cardRightTop {
            height: 17px;
            font-size: 12px;

            font-weight: 400;
            color: #e4423d;
            line-height: 17px;
          }

          .cardRightBottom {
            height: 17px;
            font-size: 12px;
            color: #e4423d;
            line-height: 14px;
          }
        }
      }
    }
  }
}
