.overwrite-popover {
  top: 36px !important;
  :global {
    .ant-popover-inner-content {
      padding: 0;
    }
  }
}

.no-popover-arrow {
  :global {
    .ant-popover-arrow {
      display: none;
    }
  }
}
