@import '/src/global.less';

.empty-wrap {
  margin-top: 80px;

  .empty-desc {
    margin-top: 60px;
    color: #7e8aa9;

    .empty-keyword {
      color: @primary-color;
    }
  }
}

.template-preview {
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  text-align: center;

  video {
    height: 100%;
    width: auto;
  }
}

.templatePanelTabs {
  height: 100%;

  .ant-tabs-nav-wrap {
    padding-left: 16px;
  }

  .side-panel-wrap {
    height: 100%;
  }

  .ant-tabs-content-holder {
    height: 100%;
  }
  .ant-tabs-nav {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #484e5f;
    line-height: 20px;
  }
  .ant-tabs-content {
    height: 100%;
    position: relative;
  }
}

.template-categories {
  .xiudd-filters {
    height: 300px;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .xiudd-filters-option {
    width: 65px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #f3f5f6;
    cursor: pointer;
    margin-right: 8px !important;
    margin-bottom: 8px !important;
    color: #484e5f;
    font-size: 12px;
    &:hover,
    &.xiudd-filters-option-active {
      color: #fff !important;
      background-color: @primary-color;
    }
  }
}
