.AddPartModal {
  width: max-content;
  padding-bottom: 0;
  // max-width: none;

  :global {
    .ant-modal-content {
      width: max-content;
    }
    .ant-modal-body {
      padding: 0;
      width: max-content;
    }
    .ant-modal-close-x {
      width: 44px;
      height: 44px;
      line-height: 44px;
    }
  }
}
