.undo,
.redo {
  margin-right: 16px;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}

.redo {
}

.flex-box {
  display: flex;
}

.download-btn {
  background: linear-gradient(90.11deg, #88de95 4.14%, #96da53 95.6%);
  border: none;
  &:hover {
    transform: scale(1.05);
    background: linear-gradient(90.11deg, #88de95 4.14%, #96da53 95.6%);
  }
}
