.awsc {
    width: 360px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 8px;
    padding-left: 30px;
  
    .awscTitle {
      margin-top: 24px;
      font-size: 16px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #262E48;
      line-height: 22px;
      margin-bottom: 24px;
    }
  
  }
  