@import '/src/style/designer.theme.less';
.mold-header {
  display: flex;
  justify-content: space-between;
  line-height: 49px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}

.mold-extra {
  cursor: pointer;
}

.mold-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 98px);
  gap: 16px;
}
