.fontcolor {
  margin-left: 27px;

  .color-picker {
    top: 195px !important;
    left: 35px !important;
  }
}

.fontcolorIcon {
  position: relative;
  cursor: pointer;

  .toolsVipCard {
    position: absolute;
    top: -4px;
    margin-left: -8px;
    width: 26px;
    height: 14px;
    background: linear-gradient(90deg, #fad9c8 0%, #e5b395 100%);
    border-radius: 4px 4px 4px 0px;
    display: inline-block;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #69382c;
    line-height: 14px;
    padding: 0px 4px;
  }
}
