.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  .header {
    font-weight: bold;
    font-size: 20px;
  }

  .desc {
    font-size: 14px;
    margin: 32px 0;
  }
  button {
    width: 200px;
  }
}
