.timelint-track {
  position: relative;
  // transition: background-color 0.3s;
}

.timelint-virtual-asset {
  position: absolute;
  border-radius: 5px;
  height: 100%;
  transition: background-color 0.5s;
  border: 1px dashed #B5B4C1;
  background-color: #ECEAF6;
  // background-color: transparent;
}

.timelint-track-add-active {
  background-color: #B5B4C1;
  opacity: 0.5;
}