.asset-auxiliary-line {
  border-left: 1px dashed red;
  height: 100px;
  position: absolute;
  top: 0px;

  &.asset-auxiliary-line-left {
    left: -6px;
  }
  &.asset-auxiliary-line-right {
    right: -6px;
  }
}

.selected-asset-svg {
  height: 100%;
  width: 100%;
  color: #fff;
  padding-left: 16px;
  font-size: 12px;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
