.brandLogo {
  height: 100%;

  .brandLogoTop {
    width: 100%;
    padding: 16px 16px 0 16px;

    .brandModal {
      width: 100%;
      margin-bottom: 16px;
    }

    .upload-icon {
      width: 318px;
      height: 45px;
      margin: 0 auto;
      background: #5A4CDB;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 400;
      color: #ffffff;
      line-height: 20px;
      cursor: pointer;
      margin-bottom: 18px;
    }
  }

  .brandLogoContent {
    height: 100%;
    padding: 2px 0 16px 0;

  }
}
