.wrap {
  display: flex;
  justify-content: space-between;
  color: #f9f7f7;
  font-size: 14px;
  margin-top: 16px;
  padding: 0 16px;
}

.left,
.right {
  width: 40px;
  display: flex;
}

.right {
  justify-content: flex-end;
}

.back {
}

.menu {
  display: flex;
  div {
    margin: 0 8px;
    &:last-child {
      margin-right: 0;
    }
  }

  .active {
    color: #fff;
    border-bottom: 2px solid #fff;
  }
}
.search {
}
.user {
  margin-left: 16px;
}
