@import '/src/global.less';

.preview-action-btn {
  display: flex;
  justify-content: center;
  button {
    width: 154px;
    margin-right: 16px;
  }
}

.preview-video-wrap {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  height: 100%;
  min-height: 250px;
}

.preview-video {
  display: inline-block;
  position: relative;
}

.preview-video-height {
  height: 500px;
}

.preview-play-btn {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @primary-color;
  border-radius: 50%;
  color: #fff;
  margin-right: 16px;
}

.preview-play-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
}

.preview-scene {
  .preview-size-defalult {
  }

  .preview-size-small {
  }
  .preview-size-large {
  }
}
