.wapper {
  display: flex;
  width: 314px;
  height: 268px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #ededed;
  // margin: 0 16px;
  // position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title {
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #484e5f;
    line-height: 20px;
  }
  .ORcode {
    margin-top: 22px;
    width: 189px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .mask {
      position: absolute;
      top: 10;
      width: 189px;
      height: 171px;
      background: rgba(255, 255, 255, 0.95);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #262e48;
    }
  }
  // .ORcode :hover {
  //   color: #5a4cdb;
  //   cursor: pointer;
  // }
}

.popover {
  :global {
    .ant-popover-arrow {
      display: none;
    }

    .ant-popover-inner-content {
      padding: 0;
    }
  }
}
