.list {
  flex: 1;
  height: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  .content {
    margin: auto;
    width: 318px;
    // display: flex;
    // flex-direction: column;
    .contentTop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .left {
        height: 20px;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #484e5f;
        line-height: 20px;
        width: 74px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .right {
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #7e8aa9;
        line-height: 17px;
        cursor: pointer;
      }
    }
    .contentBottom:after {
      content: '';
      width: 94px;
      .element-warp {
        padding: 12px;
      }
    }
    .contentBottom {
      margin-bottom: 5px;
      margin-top: 12px;
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(auto-fill, 94px);
      grid-template-rows: 94px;
      margin-bottom: 18px;
      :global {
        .element-warp {
          padding: 12px;
        }
      }
      // .img {
      //   object-fit: contain;
      // }
      .centre {
        width: 94px;
        height: 94px;
        background: #e9ebed;
        border-radius: 4px;
      }
      .left {
        width: 94px;
        height: 94px;
        background: #e9ebed;
        border-radius: 4px;
      }
    }
  }
}
.imgBottomTooltip {
  :global {
    .ant-tooltip-inner {
      padding: 0px !important;
      width: 37px;
      height: 20px;
      background: #000000;
      min-height: 20px;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.item {
  width: 94px;
  height: 94px;
  background: #e9ebed;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position: relative;
  padding: 15px;
  .img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
  }

  .itemButtonLeft {
    position: absolute;
    left: 8px;
    bottom: 8px;
    width: 20px;
    height: 20px;
    background: #000000;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .itemButtonRight {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 20px;
    height: 20px;
    background: #5a4cdb;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.item:hover {
  position: relative;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.15);
  filter: alpha(opacity=10); /*设置透明度为60%*/
  .itemButtonLeft {
    display: flex;
  }
  .itemButtonRight {
    display: flex;
  }
}
