.background-video-panel-content {
  .side-panel-content {
    display: flex;
    flex-direction: column;
  }
}

.background-video-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, 148px);


  &.background-video-w {
    .background-video-item {
      height: 86px;
    }
  }

  &.background-video-h {
    .background-video-item {
      height: 265px;
    }
  }

  &.background-video-c {
    .background-video-item {
      height: 152px;
    }
  }
}

.backgroundElementSearch {
  .ant-input-clear-icon {
    font-size: 14px;
    color: #D8D8D8;

    &:hover {
      color: #5A4CDB;
    }
  }
}
