.path-animation-list {
  width: calc(100% - 18px) !important;
  height: 100%;
  overflow: auto;
  background: #1c1c26;
  padding: 13px 16px;
  border-radius: 4px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(66px, 1fr));
  align-content: flex-start;
}
.path-animation-item {
  cursor: pointer;
  .preview {
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    background: #000000;
    border-radius: 4px;
    min-width: 66px;
    min-height: 66px;
    position: relative;
    .xiudd-lottie {
      width: 100%;
      height: 0px;
      padding-bottom: 100%;
      .xiudd-lottie-box {
        width: 100%;
        height: 0px;
        padding-bottom: 100%;
      }
      img,
      svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .text {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #838390;
    margin-top: 12px;
  }
}
