.audioClips {
  width: 667px;
  height: 340px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(197, 197, 197, 0.5);
  border-radius: 6px;
  border: 1px solid #e3e4ea;
  display: flex;
  flex-direction: column;
  align-items: center;
  .audioClipsTitle {
    margin-top: 31px;
    font-size: 18px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #262e48;
    line-height: 25px;
    letter-spacing: 1px;
  }
  .audioClipsName {
    margin-top: 25px;
    padding: 0 15px;
    // width: 146px;
    height: 38px;
    background: #ffffff;
    border-radius: 23px;
    border: 1px solid #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .audioClipsContent {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .audioClipsClip {
      margin-left: 19px;
      width: 506px;
      height: 38px;
      position: relative;
      .audioClipsClipLeft {
        position: absolute;
        top: -22px;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #262e48;
        line-height: 17px;
      }
      .audioClipsLine {
        position: absolute;
        top: 0px;
        width: 1px;
        height: 37px;
        border-right: 2px solid #262e48;
        z-index: 1000;
      }
      .audioClipsClipRight {
        position: absolute;
        top: -22px;
        right: 0;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #262e48;
        line-height: 17px;
      }
    }
  }
  .audioClipsFooter {
    margin-top: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .audioClipsFooterLeft {
      width: 160px;
      height: 48px;
      background: #f0f0f0;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #484e5f;
      line-height: 20px;
      cursor: pointer;
      &:hover {
        background: #eeecff !important;
        color: #5a4cdb !important;
      }
    }

    .audioClipsFooterRight {
      margin-left: 29px;
      width: 160px;
      height: 48px;
      background: #5a4cdb;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #ffffff;
      line-height: 20px;
      cursor: pointer;
      &:hover {
        background: #6c5ef0 !important;
        color: #ffffff !important;
      }
    }
  }
}
