
.FreeformDraw {
  padding: 0 16px;
  color: #484e5f;

  .shape {
    display: flex;
    justify-content: space-between;
    padding: 16px 10px;
    background-color: #fff;
    border-radius: 4px;
    margin: 12px 0;
  }
  .item {
    margin: auto;
    width: 54px;
    height: 54px;
    background-color: #F3F5F6;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    line-height: 66px;

    &:hover, &.active {
      border-color: #5A4CDB;
    }
  }
}