```text
@hc:registry=https://lab.hanmaker.com/api/v4/projects/2/packages/npm/
//lab.hanmaker.com/api/v4/projects/2/packages/npm/:_authToken=ag8EnDQq6EogGbyjMhyd
//lab.hanmaker.com/api/v4/packages/npm/:_authToken=ag8EnDQq6EogGbyjMhyd
```
sentrycli_cdnurl=https://cdn.npm.taobao.org/dist/sentry-cli
