.QrCodeEditModal {
  width: max-content;
  padding-bottom: 0;
  // max-width: none;

  :global {
    .ant-modal-content {
      width: max-content;
    }
    .ant-modal-body {
      padding: 0;
      width: max-content;
    }
    .ant-modal-close-x {
      width: 44px;
      height: 44px;
      line-height: 44px;
      transition: transform 0.3s;

      &:hover {
        transform: rotate(180deg);
      }
    }
  }
}

.Wrapper {
  width: 743px;
  height: 404px;
  background: #FFFFFF;
  border-radius: 6px;
  display: flex;
  overflow: hidden;
}
