.open {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  transition: all 0.3s;
  opacity: 0;
  padding: 16px 24px;
}

.setting-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  right: -320px;
  transition: all 0.3s;
  opacity: 0;
  padding: 16px 24px;
  &.setting-panel-open {
    right: 0;
    opacity: 1;
  }
}
