@import '/src/global.less';
.color {
  width: 258px;

  cursor: pointer;
  :global {
    .ant-popover-inner-content {
      padding: 8px;
    }
    .ant-popover-arrow {
      display: none;
    }
    .sketch-picker {
      background: #17171f !important;
    }
  }
}
.chooseColor {
  width: 258px;
  height: 26px;
  border-radius: 4px;
  cursor: pointer;
}
