.Color {
  width: 20px;
  margin: 4px 0;
  height: 18px;
  border: 1px solid #e0e0e0;
  // background: linear-gradient(90deg, #56AF9D 0%, #93D2A8 100%);
}

.ColorPopover {
  :global {
    .ant-popover-arrow {
      display: none;
    }
  }
}

.colorDraggableModal {
  :global {
    .xiudodo-dragable-modal-header {
      background-color: #EBEDF6;
    }

    .xiudodo-dragable-modal-title {
      color: #1D264D;
    }

    .xiudodo-dragable-modal-close {
      color: #1D264D;
    }
  }
}
