.canvas {
  width: 100%;
  height: 100%;
  background-color: #d9dee4;
  display: flex;
  justify-content: center;
}
.stage {
  position: relative;
}
.ContextMenu {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
