.ai-modal {
  width: 716px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  padding: 26px;

  &:focus-visible {
    outline: none;
  }
}

.ai-modal-title {
  width: 100%;
  font-size: 18px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #262e48;
  line-height: 25px;
  text-align: center;
}
.ai-modal-name {
  width: 100%;
  height: auto;
  background: #f4f4f4;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #262e48;
  padding: 10px 25px;
  text-align: left;
  margin-top: 10px;
}
.ai-modal-input {
  background: #ffffff;
  border-radius: 4px;
  position: relative;
  margin: 21px 0 20px 0;

  .ant-input-textarea {
    padding-bottom: 20px;
  }

  .ant-input-textarea-show-count::after {
    // position: absolute;
    // bottom: 5px;
    // left: 10px;
  }
}

.noWrap {
  flex-wrap: nowrap !important;
}

.ai-modal-text {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #262e48;
  line-height: 17px;

  span {
    color: @primary-color;
  }
}

.ai-modal-row {
  width: 100%;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #484e5f;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  position: relative;

  .row-title-tip {
    width: 38px;
    height: 19px;
    background: #3fd621;
    border-radius: 10px 10px 10px 0px;
    color: #ffffff;
    position: absolute;
    text-align: center;
    line-height: 19px;
    left: 15px;
    top: -15px;
  }

  .row-AI {
    width: 553px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;

    .ai-item-music {
      width: 513px !important;
    }
  }
}

.opcity45 {
  opacity: 0.45;
  cursor: not-allowed;
}

.ai-modal-button {
  width: 289px;
  height: 48px;
  background: @primary-color;
  border-radius: 4px;
  margin-left: 186px;
  margin-top: 10px;
}
