.CustomColor {
  width: 220px;
  position: relative;
  user-select: none;
  padding: 12px 6px;

  .Saturation {
    width: 100%;
    height: 118px;
    position: relative;
  }

  .handler {
    // padding: 5px;
    padding-top: 12px;
    width: 100%;

    .Hue {
      height: 10px;
      position: relative;
      cursor: pointer;
    }

    .TwitterPicker {
      width: 100%;
      position: relative;
    }
  }
}