.backColor {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 16px;

  .backColorTitle {
    margin-bottom: 13px;
    font-size: 12px;
    font-weight: 500;
    color: #262E48;
    line-height: 20px;
  }

  .topColor {
    margin-bottom: 14px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .colorItem {
      width: 43px;
      height: 43px;
      border-radius: 4px;
      border: 1px solid #E9E9E9;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }


    .colorItem1 {
      width: 43px;
      height: 43px;
      border-radius: 4px;
      border: 1px solid #E9E9E9;
      transition: 0.3s;
      color: #ffffff;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background: conic-gradient(rgba(182, 32, 224, 1),
          rgba(224, 32, 32, 1),
          rgba(250, 100, 0, 1),
          rgba(247, 181, 0, 1),
          rgba(109, 212, 0, 1),
          rgba(0, 145, 255, 1),
          rgba(98, 54, 255, 1),
          rgb(123, 92, 235),
          rgba(182, 32, 224, 1),

        );

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
