
.LabelItem {
  display: flex;
  margin-bottom: 24px;

  .label {
    min-width: 70px;
    height: 32px;
    line-height: 32px;
    text-align: right;
  }

  .content {
    margin-left: 24px;
    flex: 1;
  }
}