@import '/src/global.less';

.class-name {
  cursor: pointer;
  margin-left: 16px;
  margin-bottom: 4px;
  justify-content: space-between;
  line-height: 49px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #262E48;

  &:hover {
    color: @primary-color;
  }
}

.more-content {
  height: calc(100% - 50px);
  // padding: 10px 0;
}
