@import '/src/style/designer.theme.less';

.dot {
  position: absolute;
  display: inline-block;
  content: '';
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  bottom: -12px;
  left: -0px;
}
.designer-slider-wrap {
  &.ant-slider {
    .ant-slider-rail,
    .ant-slider-step,
    .ant-slider-track {
      height: 8px;
    }

    .ant-tooltip-inner {
      padding: 10px 0 0;
    }

    .ant-slider-rail {
      background-color: #d3d3d3;
    }

    .ant-slider-handle {
      background-color: #5a4cdb;
      width: 10px;
      height: 16px;
      border-radius: 0;
      top: -10px;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      &::after {
        .dot;
        background-color: #fff;
      }
    }

    .ant-slider-dot {
      width: 8px;
      height: 8px;
      background-color: #000;
      border-color: #000;
      top: 0px;

      &::after {
        content: '';
        width: 10px;
        height: 16px;
        position: absolute;
        top: -20px;
        left: -3px;
        border-radius: 0;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        background-color: #000;
        border-color: #000;
        display: inline-block;
      }
    }

    .ant-slider-track {
      background-color: @primary-color;
      &:nth-child(2n-1) {
        // background-color: #f5f5f5;
        // display: none;
        width: 0px !important;
      }
    }
    .ant-slider-tooltip {
      top: 16px !important;
    }
    .ant-tooltip-arrow {
      display: none;
    }
    .ant-tooltip-inner {
      background-color: transparent;
      box-shadow: none;
    }
  }
}

.designer-submit-play {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #d8d8d8;
  color: #484e5f;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  cursor: pointer;
  &:hover {
    color: @primary-color;
  }
}

.designer-video-cover-play {
  width: 47px;
  height: 47px;
  text-align: center;
  line-height: 47px;
  border-radius: 50%;
  background-color: #0000005e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  color: #fff;
  font-size: 26px;
  z-index: 99999;
}

.designer-video-cover-wrap {
  .ant-tabs-tab {
    padding-top: 6px;
  }
}
