.selected-asset-module {
  background-color: #6be1d5;
  height: 100%;
  width: 100%;
  color: #fff;
  padding-left: 16px;
  font-size: 12px;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
