@import '/src/global.less';
.icon-size {
  font-size: 18px;
}

.line {
  border-bottom: 1px solid #E4E9ED;
}

.hover {
  :global {
    .ant-dropdown-menu-item {
      padding: 10px 12px;
      color: #262e48;
      display: flex;

      &.ant-dropdown-menu-item-disabled {
        .ant-dropdown-menu-title-content {
          .template-contextmenu-keypress {
            background-color: transparent;
            color: rgba(0, 0, 0, 0.25);
          }
        }
      }

      .ant-dropdown-menu-title-content {
        flex: 1;
        display: flex;
        justify-content: space-between;
        
        .template-contextmenu-keypress {
          // position: absolute;
          // right: 10px;
          margin-left: 20px;
          background-color: #EEEFF2;
          border-radius: 4px;
          padding: 0 12px;
          color: #262e48;
        }
      }
    }
    .ant-dropdown-menu-item-disabled,
    .ant-dropdown-menu-submenu-title-disabled {
      color: rgba(0, 0, 0, 0.25);
    }
    .ant-dropdown-menu-item-active:hover {
      color: @primary-color;
    }
  }

  .lineItem {
    border-bottom: 1px solid #E4E9ED;
    padding: 0;

    div {
      display: none;
    }
  }
}

// .shortcut {
//   position: absolute;
//   right: 10px;
//   background-color: #e6eaf1;
//   border-radius: 4px;
//   padding: 0 6px;
//   color: #262e48;
// }
