@import '/src/global.less';
.upload-file-item {
  margin-top: 2px;
  width: 150px;
  position: relative;

  &:hover {
    .upload-file-item-action-select {
      opacity: 1;
    }
  }

  &.upload-file-item-hover:hover {
    .upload-file-item-content {
      outline: 1px solid @primary-color;
      .element-warp {
        outline: none;
      }
    }
    .upload-file-item-duration {
      display: none;
    }
    .upload-file-item-action {
      opacity: 1;
    }
  }

  .upload-file-item-disabled {
    opacity: 0.3;
    cursor: not-allowed;

    .upload-file-item-action {
      display: none;
    }
    .element-action {
      display: none;
    }
  }

  .upload-file-item-content {
    position: relative;
    background-color: #d4d7dc;
    height: 86px;
    border-radius: 4px;
    overflow: hidden;
  }

  .upload-file-item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #7e8aa9;
    font-size: 12px;
    margin-top: 8px;
    padding-right: 16px;
  }

  .upload-file-item-duration {
    position: absolute;
    bottom: 4px;
    right: 4px;
    padding: 0 4px;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 10;
  }

  .upload-file-item-action {
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 10;
    border-radius: 50%;
    cursor: pointer;
  }

  .upload-file-item-action-select {
    position: absolute;
    left: 4px;
    z-index: 12;
    opacity: 0;

    &.item-selected {
      opacity: 1;
    }
  }
  .upload-file-item-action-add {
    right: 4px;
    bottom: 4px;
    background-color: @primary-color;
  }
  .upload-file-item-action-replace {
    bottom: 4px;
    left: 4px;
    background-color: #000;
  }

  .upload-file-item-action-play {
    bottom: 4px;
    left: 4px;
    background-color: #000;
    color: #fff;
  }
}

.upload-file-item-progress {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 8px;

  .ant-progress-bg {
    height: 3px !important;
  }
}

.file-not-allow {
  width: 100%;
  height: 86px;
  background-color: #000;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: red;
  z-index: 1;
  font-size: 12px;
  border-radius: 4px;
}
