.aniImp-upload {
  width: 100%;
  height: 100%;
  position: relative;
}
.aniImp-upload-type {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 18px 16px;
  padding-top: 0px;
  .type-item {
    padding: 0 15px;
    height: 32px;
    background: #17171e;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.85);
    margin-right: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    &:hover {
      background: @primary-color;
      color: rgba(255, 255, 255, 1);
    }
  }
  .choosed {
    background: @primary-color !important;
    color: rgba(255, 255, 255, 0.85) !important;
  }
  .aniImp-upload-typeImp {
    position: absolute;
    top: 0px;
    right: 16px;
  }
}
.aniImp-upload-list {
  width: 100%;
  padding: 0 16px;
}
.aniImp-upload-item {
  width: 100%;
  height: 36px;
  background: #353540;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 17px;
  border: 1px solid transparent;
  cursor: pointer;
  .aniImp-item-title {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .aniImp-item-right {
    display: flex;
    flex-wrap: nowrap;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    .icon {
      cursor: pointer;
      margin-left: 10px;
      &:hover {
        color: @primary-color;
      }
    }
  }
}
.aniImp-upload-item-choosed {
  border: 1px solid @primary-color;
}
.aniImp-upload-down {
  width: 100%;
  height: 49px;
  background: #353540;
  border-radius: 6px 0px 0px 0px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 12px;
  color: #ffffff;

  .ant-slider {
    flex: 1;
  }

  .ant-radio-wrapper {
    color: #fff;
    margin-right: 14px;
  }

  .ant-slider-track {
    background-color: @primary-color !important;
  }

  .ant-slider-handle {
    border-color: @primary-color !important;
  }

  .ant-slider-track,
  .ant-slider-rail {
    border-radius: 0;
    height: 2px;
  }

  .ant-slider-with-marks {
    margin-bottom: 30px;
  }

  .ant-slider-dot {
    width: 0;
    height: 10px;
    top: -10px;
    border-radius: 0;
    border-width: 1px;
    border-color: #f0f0f0 !important;
    transform: translateX(3px);
  }

  .timeLabel {
    display: block;
    width: 80px;
    text-align: center;
    font-size: 12px;
    color: #838390;
  }
}
.aniImp-upload-modal {
  padding: 30px;
}
.aniImp-upload-form {
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
  .submit {
    width: 170px;
    height: 40px;
    background: @primary-color;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
  }
}
.import-button {
  background-color: @primary-color !important;
  color: rgba(255, 255, 255, 0.85);
  border: none !important;
  &:hover {
    color: #ffffff;
  }
}
