.fontBgColor {
  width: 80%;
  :global {
    .ant-popover {
      margin-top: 20px;
      margin-left: 15px;
    }
  }
}
.fontBgItem {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #d2d6da;
}
