
.SwitchMode {
  height: 38px;
  border-radius: 38px;
  overflow: hidden;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1px 2px;

  :global {
    .ant-radio-group {
      line-height: 1;
      display: block;
    }
    .ant-radio-button-wrapper {
      background: transparent;
      border-color: transparent;
      color: #fff;
      height: 34px;
      border-radius: 34px;
      border: none;
    }
    .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
      border: none;
    }
    .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      color: #5A4CDB;
      background: #fff;
      border: none;
    }
    .ant-radio-button-wrapper:not(:first-child)::before {
      display: none;
    }
  }
}

.button {
  height: 34px;
  display: flex;
  align-items: center;

  span {
    font-size: 16px;
  }
}