.size {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.size-list-popover {
  // :global {
  //   .ant-popover-inner-content {
  //     padding: 0;
  //   }
  // }
}
.size-list {
  width: 300px;
  .size-list-item {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item-icon {
      margin-right: 6px;
    }

    .list-item-size {
      color: #9e9e9e;
    }
  }
}
