.backgroundWarp {
  height: 100%;
  display: flex;
  flex-direction: column;

  .topInput {
    padding: 14px 18px;
    height: 65px;

    :global {
      .ant-input-affix-wrapper-lg {
        height: 37px;
        background: #ffffff;
      }
      .ant-input-clear-icon {
        svg {
          font-size: 18px;
          border-radius: 50%;
          color: #e1e1e1;
        }
      }
      .ant-input:focus {
        color: #272731;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
      }
      .ant-input {
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        &::-webkit-input-placeholder {
          color: #1c1c26;
        }
      }
      .ant-input-prefix {
        color: #272731;
      }
      .ant-input-clear-icon {
        color: #e1e1e1;
      }
    }
    .suffix {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      font-size: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #e1e1e1;
      color: #4d4d54;
      cursor: pointer;
      &:hover {
        background: #5646ed;
        color: #ffffff;
      }
    }
  }
  .content {
    flex: 1;
    height: 0;
  }
}
