@import '/src/global.less';

.row-input{
  width: 50px !important;
  height: 25px !important;
  margin-left: 8px;
  .ant-input-number-handler-wrap{
    width: 0;
  }
  .ant-input-number-input{
    height: 25px !important;
    line-height: 25px !important;
  }
}
.row-slider{
  width: 540px;
  margin-left: 10px;
  .ant-slider-track{
    height: 8px;
    background:@primary-color;
  }
  .ant-slider-rail{
    height: 8px;
  }
  .ant-slider-handle{
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
  }
}
