@import '/src/global.less';

.questions {
  position: absolute;
  bottom: 20px;
  right: 25px;
  z-index: 2;
  width: 38px;
  height: 28px;
  background-color: rgba(254, 254, 254, 0.5);
  box-shadow: 0px 0px 3px 0px rgba(137, 137, 137, 0.5);
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    color: #5a4cdb;
  }

  // img {
  //   width: 10px;
  //   margin-right: 4px;
  // }
}

.questions-modal-header {
  color: #ffffff;
  font-size: 16px;

  .questions-modal-header-UID {
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid #fff;
    }
  }
}

.questions-modal-wrap {
  &.ant-drawer-right {
    max-height: calc(100vh - 150px);
    top: auto;
    bottom: 0;
  }

  .ant-drawer-header {
    background-color: #5a4cdb;
  }

  .questions-modal-qrcode-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .questions-modal-search {
    font-size: 14px;
    color: #9196a8;
  }

  .questions-modal-list-wrap {
    margin-top: 20px;

    .questions-modal-list {
      max-height: calc(100vh - 350px);
      overflow-y: auto;

      .list-item {
        background: #f6f7f7;
        margin-bottom: 16px;
        padding: 12px;

        // color: #262e48;
        .list-item-title {
          width: 294px;
          height: 20px;
          font-size: 14px;
          font-weight: bold;
          // color: #262e48;
          line-height: 20px;
          margin-bottom: 8px;
        }

        .questions-action-click {
          color: #5646ed;
          font-size: 14px;
          border-bottom: 1px solid #5646ed;
          cursor: pointer;
        }
      }
    }
  }
}
