.hc-asset-whirl-mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  left: 0;
  top: 0;
}

.whirl-point {
  position: absolute;
  width: 26px;
  height: 26px;
  background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSLlm77lsYJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwIiB5PSIwIiB2aWV3Qm94PSIwIDAgMjYgMjYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZT4uc3Qwe2ZpbGw6cmVkfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTI1LjIgMTIuMmgtMS43QzIzLjEgNyAxOSAyLjkgMTMuOCAyLjVWLjhjMC0uNC0uNC0uOC0uOC0uOHMtLjguNC0uOC44djEuN0M3IDIuOSAyLjkgNyAyLjUgMTIuMkguOGMtLjQgMC0uOC40LS44LjhzLjQuOC44LjhoMS43Yy40IDUuMiA0LjUgOS4zIDkuNyA5Ljd2MS43YzAgLjQuNC44LjguOHMuOC0uNC44LS44di0xLjdjNS4yLS40IDkuMy00LjUgOS43LTkuN2gxLjdjLjQgMCAuOC0uNC44LS44cy0uNC0uOC0uOC0uOHpNMTMgMjEuOWMtNC45IDAtOC45LTQtOC45LTguOXM0LTguOSA4LjktOC45IDguOSA0IDguOSA4LjktNCA4LjktOC45IDguOXoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNOC45IDEzYzAgMi4yIDEuOCA0LjEgNC4xIDQuMXM0LjEtMS44IDQuMS00LjEtMS45LTQuMS00LjEtNC4xLTQuMSAxLjktNC4xIDQuMXoiLz48L3N2Zz4=)
    no-repeat 50%;
}
