.listWarp {
  display: flex;
  flex-direction: row;

  .content {
    margin: 25px 0 25px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 16px;
      cursor: pointer;


      .noAnimation {
        width: 67px;
        height: 67px;
        background: #FFFFFF;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        color: #C4C8CA;

        &:hover {
          border: 2px solid #5646ed;
          // box-shadow: 0 0 5px #5646ed;
        }
      }

      .animationImg {
        width: 67px;
        height: 67px;
        border-radius: 6px;

        &:hover {
          border: 2px solid #5646ed;
        }
      }
      .active{
        border: 2px solid #5646ed;
      }

      .title {
        margin-top: 10px;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #7E8AA9;
        line-height: 20px;
      }
    }
  }
}
