.outline-color {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  margin-right: 16px;
}

.popover-no-padding {
  .ant-popover-inner-content {
    padding: 0;
  }
}
