.wrap {
  width: 114px;
  height: 48px;
  position: absolute;
  right: 7px;
  top: 7px;
  z-index: 10000;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.06);
  color: rgba(255, 255, 255, 0.72);
  transform: scale(0.8);
  transform-origin: right -10px;
  overflow: hidden;
  // user-select: none;
  pointer-events: none;
  .watermark-icon {
    position: absolute;
    top: -46px;
    left: -3px;
    font-size: 120px;
  }
  .text {
    position: absolute;
    bottom: 2px;
    left: 7px;
    letter-spacing: 5px;
    font-size: 12px;
  }
}

.desc {
  width: 92px;
  height: 44px;
  position: absolute;
  background: linear-gradient(321deg, #fff4e0 0%, #ffffff 100%);
  font-size: 12px;
  padding: 4px 10px;
  color: #af8e6f;
  border-radius: 4px;
  cursor: pointer;
}
.desc-right {
  top: 0;
  right: -100px;
}

.desc-top {
  top: -50px;
  right: 0;
}
