.logoWatermark {
  height: 100%;

  .logoWatermarkTabs {
    height: 100%;

    .ant-tabs-nav {
      margin: 0;
      padding-left: 16px;
    }

    .ant-tabs,
    .ant-tabs-content {
      height: 100%;
    }
  }
}

.logo-handle-item {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
