@import '/src/global.less';

.feedback-title {
  color: #2f374f;
  font-size: 22px;
  text-align: center;
  margin-bottom: 24px;
}

.input-background {
  background-color: #f3f4f7;
  min-height: 50px;

  &.ant-input-borderless {

    &:hover,
    &:active,
    &:focus {
      background-color: #f3f4f7;
    }
  }
}

.smile-icon {
  font-size: 26px !important;
  color: @primary-color  !important;
}

.submit-btn {
  overflow: hidden;
  margin: 18px auto;
  width: 230px;

  button {
    width: 100%;
  }
}

.success-tip {
  text-align: center;

  div {
    font-size: 20px;
    color: #2f374f;
    margin-bottom: 8px;
  }

  p {
    font-size: 16px;
    color: #6b78a3;
  }
}
