.upload-file-drag-icon {
  margin: 8px auto;
  width: 36px;
  height: 36px;
  border: 1px dashed #7e8aa9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    .ant-upload {
      color: @primary-color !important;
    }
    border-color: @primary-color;
  }
}

.upload-file-drag-desc {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.upload-file-drag-default {
  display: block;
}

.upload-file-drag-desc-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.user-upload-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, 146px);
  // grid-template-rows: 86px;
  align-content: flex-start;
}

.file-list-empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
