@import '/src/global.less';

.xiudodo-video-poster {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  opacity: 1;
  transition: all 0.5s;
  z-index: 1;
}

.xiudodo-video-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  video {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
  }

  .ant-skeleton-element,
  .ant-skeleton-image {
    height: inherit;
  }
}
