.clip-mask {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.clip-mask-tool {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    width: 28px;
    height: 28px;
    color: @primary-color;
    background-color: #ececec;
  }
}

.clip-mask-item {
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    color: @primary-color;
    background: rgba(0, 0, 0, 0.4);
  }
}

.clip-escWrap {
  width: 25px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clip-esc {
  min-width: 38px;
  height: 34px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  &:hover {
    background: #f5f4ff;
    border-radius: 2px;
    color: @primary-color;
  }

  .clip-escIcon {
    font-size: 18px;
  }

  &:global {
    .ant-popover {
      margin-left: 12px !important;
    }
  }
}

.clip-mask-list {
  width: 205px;
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
