@import '/src/style/variable.less';

.action-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action {
  background-color: #f6f7f9;
  &:hover {
    border: 1px solid @primary-color;
  }
  &.ant-btn-text:focus {
    background-color: #f6f7f9;
  }
  &.action-active,
  &.action-active.ant-btn-text:focus {
    color: @primary-color;
    background-color: #fff;
    border: 1px solid @primary-color;
  }
}

.recommended-size {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  border-radius: 4px;

  &:hover {
    border: 1px solid @primary-color;
  }
  &.recommended-size-active {
    border: 1px solid @primary-color;
    color: @primary-color;
    background-color: #fff;
  }
}

.filter-reset {
  opacity: 0.6;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
