.pub-modal-content {
  width: 100%;
  height: auto;
}

.pmc-top {
  width: 100%;
  height: auto;
  padding: 20px 0;
  background: #eaedfc;
  border-radius: 6px 6px 0 0;
}

.pmc-bottom {
  width: 100%;
  height: auto;
  padding: 20px 0;
}
