.positionWarp {
  width: 128px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .positionWarpItem:hover {
    color: #5a4cdb;
    border-radius: 2px;
    border: 1px solid #5a4cdb;
  }
  .positionWarpItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
    width: 38px;
    height: 26px;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #e1e5e9;
    cursor: pointer;
    color: #484e5f;

    .dot {
      width: 4px;
      height: 4px;
      background: #484e5f;
      border-radius: 50%;
    }
    .dot:hover {
      background: #5a4cdb;
    }
  }
  .positionWarpItemActive {
    color: #5a4cdb;
    border-radius: 2px;
    border: 1px solid #5a4cdb;
  }
}
