.image-controller {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .image-controller-list {
    flex: 1;
    overflow-y: scroll;
    padding: 0 18px;
  }

  .gamma-r {
    .ant-slider-rail {
      background: linear-gradient(
        90deg,
        rgb(47, 208, 219) 0%,
        rgb(195, 75, 75) 100%
      );
    }

    .ant-slider-track {
      background-color: transparent;
    }
  }

  .gamma-g {
    .ant-slider-rail {
      background: linear-gradient(
        90deg,
        rgb(172, 95, 190) 0%,
        rgb(46, 218, 58) 100%
      );
    }
    .ant-slider-track {
      background-color: transparent;
    }
  }

  .gamma-b {
    .ant-slider-rail {
      background: linear-gradient(
        90deg,
        rgb(219, 165, 47) 0%,
        rgb(75, 120, 195) 100%
      );
    }

    .ant-slider-track {
      background-color: transparent;
    }
  }

  .ant-slider-rail {
    background-color: #d3d3d3;
  }
}

.image-controller-bottom {
  padding: 10px 18px;
  background-color: #353541;
  display: flex;
  justify-content: end;
  align-items: center;

  .image-controller-reset {
    width: 88px;
    height: 30px;
    color: #fff;
    background-color: #5e5e66;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;

    &:hover {
      background-color: @primary-color;
    }
  }
}