@import '/src/global.less';

.wrap {
  display: flex;
  background-color: #fff;
  .item {
    margin-left: 24px;
    text-align: center;
    cursor: pointer;
    padding: 8px 0;
  }

  .active {
    color: @primary-color;
    border-bottom: 1px solid @primary-color;
  }
}
