@import '/src/style/designer.theme.less';

.searchPart {
  width: 100%;
  height: 100%;

  :global {
    .ant-tabs-content {
      height: 100%;
    }

    .ant-tabs-nav-operations {
      color: #fff;
    }

    .ant-tabs-tabpane-active {
      display: flex !important;
      flex-direction: column;
    }

    .ant-tabs-nav {
      padding: 0 18px;
    }

    .ant-tabs-tab-btn {
      font-size: 12px;
      font-weight: 500;
      color: #838390;

      &:hover {
        color: #fff;
      }
    }

    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        font-size: 12px;
        font-weight: 500;
        color: #fff;
      }
    }

    .ant-tabs-nav::before {
      border-bottom: none !important;
    }
  }
}

.searchCatolag {
  height: 24px;
  background: #2e2e39;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #c0c0cd;
  text-align: center;
  line-height: 24px;
  padding: 0 9px;
  cursor: pointer;
  z-index: 2;
  .icon {
    font-size: 10px;
    margin-left: 4px;
    transform: rotate(90deg);
  }
}

// 分类列表样式
.searchCatalogView {
  width: 100%;
  max-height: 120px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  align-content: flex-start;
  font-size: 12px;
  color: #fff;
  overflow-y: auto;
  margin-bottom: 16px;
  padding: 0 18px;
}
