.drop-over-downward {
  border-bottom: 2px dashed @primary-color;
}

.drop-over-upward {
  border-top: 2px dashed @primary-color;
}

.asset-hide-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.63);
}

.asset-aeA {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  // width: 50px !important;

  .asset-aeA-line {
    flex: 1;
    border-bottom: 1px solid #fff;
    height: 0;
  }

  .asset-aeA-icon {
    font-size: 8px;
    color: #fff;
  }

  &.asset-aeA-in {
    left: 0;
  }

  &.asset-aeA-out {
    right: 0;

    .asset-aeA-icon {
      transform: rotate(180deg);
    }
  }

  &.asset-aeA-stay {
    left: 0;

    .asset-aeA-icon:first-child {
      transform: rotate(180deg);
    }
  }
}

.asset-aeA-wrap {
  width: 100%;
  padding: 2px 0;
  position: relative;
  bottom: 0;
  background-color: #36daa0;
  height: 10px;

  &.asset-aeA-wrap-fixed {
    height: 0;
    padding: 0;
  }
}
