.asset-item {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;

  &.asset-item-active {
    border: 2px solid #36daa0;
  }

  :global {
    div.drop-over-downward {
      border-bottom: 2px dashed @primary-color;
    }

    div.drop-over-upward {
      border-top: 2px dashed @primary-color;
    }
  }
}

.duration {
  position: absolute;
  left: 20px;
  top: 3px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 2px;
  line-height: 1;
}
