.custom-input-number {
  .ant-input-number {
    width: 100%;
    background-color: #f3f5f6;
  }
  .ant-input-number-handler {
    border-left: none;
  }
  .ant-input-number-handler-wrap {
    background-color: transparent;
  }
  .custom-input-number-label {
    font-size: 12px;
    text-align: center;
  }
}
