
.Preview {
  flex: 1;
  background: #EEEFF2;
  padding: 36px;

  .canvas {
    margin-top: 30px;
    width: 100%;
  }

  .tooltip {
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #8E95A5;
    text-align: center;
    margin: 20px 0;
  }

  .button {
    width: 100%;
  }
}