@import '/src/style/designer.theme.less';

.xiudodo-designer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // padding: 12px 0;
  .xiudodo-designer-canvas-wrap {
    width: 100%;
    flex: 1;
    overflow: hidden;
  }

  .xiudodo-designer-canvas-detail {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    z-index: 2;

    & > div:nth-child(1) {
      flex: 2;
    }

    & > div:nth-child(2) {
      flex: 1;
    }

    & > div:nth-child(3) {
      flex: 2;
    }

    .xiudodo-designer-canvas-detail-time {
      font-size: 12px;
      color: @white-font-color;
      line-height: 30px;
    }

    .xiudodo-designer-canvas-detail-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: @font-size-base;
    }

    .xiudodo-designer-canvas-detail-play {
      text-align: center;
      font-size: 24px;
      color: #d8d8d8;

      .xiudodo-designer-canvas-play-icon {
        cursor: pointer;
      }
    }

    .xiudodo-designer-canvas-clear {
      cursor: pointer;
      color: @text-color;

      &:hover {
        color: @text-color-hover;
      }
    }

    .xiudodo-designer-canvas-detail-scale {
      min-width: 58px;
      text-align: center;
      display: inline-block;
      padding: 0 4px;
      border: 1px solid @white-font-color;
      color: @white-font-color;
      margin: 0 20px;
      cursor: pointer;
    }

    .xiudodo-designer-canvas-detail-full-screen {
      font-size: 20px;
      cursor: pointer;
      color: @text-color;
    }
  }
}

.xdd-designer-scale-handler {
  .scale-content {
    background-color: transparent;
    border: 1px solid #aeafb2;
  }

  .scale-preview-canvas-btn,
  .scale-action-icon,
  .scale-handler {
    color: #aeafb2;
  }

  .scale-action-icon {
    &:hover {
      color: @primary-color;
    }
  }
}
