@import '../style/variable';

.hc-core-assets {
  overflow: hidden;

  .__renderText {
    display: inline-block;
  }

  .asset-module {
    width: 100%;
    height: 100%;
  }

  .text-asset-render {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-decoration: inherit;
  }

  * {
    box-sizing: content-box;
  }

  .ant-spin-nested-loading {
    width: 100%;
    height: 100%;
  }

  .assetElementMaskRtAsset {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
