.pub-modal-qqPanel {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pmq-qqGroup-qrcode {
  width: 110px;
  height: 108px;
  display: inline-block;
}

.pmq-qqGrout-content {
  margin-left: 29px;

  p {
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    color: #262e48;
    line-height: 24px;
  }

  a {
    display: inline-block;
    width: 87px;
    height: 26px;
    background: #ffffff;
    border-radius: 15px;
    border: 1px solid #5a4cdb;
    text-align: center;
  }
}
