@import '/src/global.less';

.maskModuleItem {
  width: 146px;
  height: 79px;
  background-color: rgb(233, 235, 237);
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;

  &:hover {
    outline: 2px solid @primary-color;
  }
}
