.brandColor {
  display: flex;

  .brandColorWarp {
    padding-top: 23px;
  }

  .rightBtn {
    width: 101px;
    height: 30px;
    background: #F4F4F4;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: #262E48;
    line-height: 17px;
    transition: 0.3s;

    &:hover {
      color: #5A4CDB;
      background: #ECEAFF;
    }

    .rightBtnSpan {
      margin-right: 4px;
      font-size: 10px;
    }
  }
}
