* {
  padding: 0px;
  margin: 0px;
}

.mian {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 44px;
  background: #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #262e48;
  line-height: 20px;
}

.header-divider {
  margin: 0 8px;
  width: 1px;
  height: 14px;
  border-right: 1.5px solid #484e5f;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content-default {
}

.content-list {
  display: none;
}

.list-visible {
  width: 100%;
  flex: 1;
  display: grid;
  justify-content: space-between;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, 94px);
  grid-template-rows: repeat(auto-fill, 112px);
  gap: 20px;
}

.list-visible ~ .content-default {
  display: none;
}

.list-visible ~ .bottom {
  display: flex;
}

.content-list-item {
  position: relative;
  background: #f3f3f3;
}

.content-list-item-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 20px;
  border-bottom-left-radius: 20px;
  background: #484e5f;
  font-size: 12px;
  color: #fff;
  text-align: center;
  z-index: 2;
}

.upload-button {
  width: 215px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  background: linear-gradient(311deg, #af17ff 0%, #2d27ff 100%);
  border-radius: 24px;
  font-size: 14px;
  margin-top: 30px;
  color: #fff;
}

.upload-icon {
  width: 128px;
  height: 128px;
  position: relative;
  border-radius: 50%;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.upload-icon > .icon {
  width: 36px;
  height: 36px;
  color: #aeafb5;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.upload-desc {
  width: 210px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  color: #262e48;
  line-height: 20px;
  text-align: center;
}

.bottom {
  display: none;
  padding: 20px 0;
}

.bottom-hidden {
  display: none;
}

.bottom-upload-default {
  width: 150px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  background: #f3f3f3;
  border-radius: 21px;
  color: #262e48;
  font-size: 14px;
}

.bottom-upload-btn {
  margin-left: 16px;
  color: #f9f9f9;
  background: linear-gradient(311deg, #af17ff 0%, #2d27ff 100%);
}

.buttom-ok-btn {
  display: none;
  width: 215px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  background: linear-gradient(311deg, #af17ff 0%, #2d27ff 100%);
  border-radius: 24px;
  color: #fff;
}

.buttom-ok-btn-visible {
  display: block;
}

.buttom-ok-btn-visible ~ .bottom-upload-default {
  display: none;
}

#fileupload {
  display: none;
}

.uploading-default {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.56);
}

.uploading {
}

.uploading-error {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.56);
}

.uploading-error > .upload-progress-text {
  color: #ffa134;
}

.uploading + .content-list-item-close {
  display: none;
}

.upload-progress {
  width: 90%;
  height: 7px;
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.upload-progress-bar {
  background: #5a4cdb;
  height: 100%;
  width: 10%;
  transition: all 0.3s;
  border-radius: 4px;
}

.upload-progress-text {
  position: absolute;
  bottom: 18px;
  width: 100%;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.content-list-item-upload-success > .uploading {
  display: none;
}

.file-video-duration {
  display: inline-block;
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding: 0 4px;
  background-color: #000000;
  border-radius: 2px;
  color: #fff;
}

.bottom-add-file {
  border: none;
}

.bottom-add-file:disabled {
  color: #c4c5c9;
}
