@import '/src/global.less';
.basicItem {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 21px;
  .basicItemTitle {
    width: 87px;
    font-size: 12px;
    font-weight: 400;
    color: #838390;
    line-height: 35px;
    margin-left: 4px;
  }
  .basicItemView {
    flex: 1;
  }
}
