@import '/src/global.less';

.xdd-pixel-tip {
  pointer-events: none;

  :global {
    .anticon-info-circle {
      color: #ff5a21 !important;
      font-size: 18px;
    }

    .ant-modal-body {
      display: flex;
      align-items: center;
      padding: 8px 16px;
      font-size: 12px;
    }
  }
}

.guide-wrap {
  position: fixed;
  z-index: 100000;
  background: #fff;
  box-shadow: 0 2px 27px 0 rgba(86, 70, 237, 0.59);
  border-radius: 16px;
  border: 2px solid #8578ff;

  :global {
    .ant-popover-arrow {
      display: block;
      right: 3px !important;
      border-width: 7px;
    }
  }

  .guide-content {
    position: relative;
  }
}

.content {
  width: 359px;
  padding: 28px 29px 14px 35px;

  .step {
    font-size: 14px;
    font-weight: 500;

    .current {
      color: @primary-color;
    }
  }
}

.popover {
  :global {
    .ant-popover-arrow {
      display: block;
      right: 3px !important;
      border-width: 7px;
    }
  }
}

.title {
  width: 100%;
  min-height: 50px;
  font-size: 14px;
  font-weight: 500;
  color: #5e7bdb;
  line-height: 20px;
  background: linear-gradient(
    225deg,
    rgba(50, 197, 255, 0.1) 0%,
    rgba(182, 32, 224, 0.1) 51%,
    rgba(247, 181, 0, 0.1) 100%
  );
  border-radius: 6px;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.desc {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 400;
  color: #484e5f;
}
.nextWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  .next {
    width: 77px;
    height: 28px;
    background: #f9f9ff;
    border-radius: 14px;
    text-align: center;
    border: 1px solid @primary-color;
    margin-top: 16px;
    margin-bottom: 12px;
    color: @primary-color;
    padding: 4px 0;
  }
}
.bottomWrap {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.close {
  color: #7e8aa9;
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  right: 25px;
}
.progress {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  .progressPoint {
    width: 6px;
    height: 6px;
    background: #a6a6a6;
    border-radius: 50%;
    margin-right: 6px;
    &:last-child {
      margin-right: 0;
    }
  }
  .choosed {
    background: @primary-color;
  }
}
.closeIcon {
  width: 19px;
  height: 19px;
  background: #484e5f;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
}
.arrowTip {
  width: 49px;
  height: 64px;
  position: absolute;
  font-size: 50px;
  color: @primary-color;
}
.NoviceGuidedesc {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  .icon {
    width: 15px;
    height: 15px;
    min-width: 15px;
    min-height: 15px;
    background: #262e48;
    color: #fff;
    font-size: 12px;
    display: inline-flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }
}

horizontal-top vertical .top-left {
  right: 0;
  top: 0;
}

.top,
.top-left,
.top-right {
  bottom: -13px;
}
.top-left,
.bottom-left {
  left: 25px;
}
.top-right,
.bottom-right {
  right: 25px;
}

.bottom,
.bottom-right,
.bottom-left {
  top: -8px;
}

.bottom,
.top {
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
}

.left,
.left-top,
.left-bottom {
  right: -2px;
}

.left-top,
.right-top {
  top: 10px;
}
.left-bottom,
.right-bottom {
  bottom: 10px;
}

.left,
.right {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}

.right,
.right-top,
.right-bottom {
  left: -13px;
}

.guide-animation {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  // transition: all 0.3s;
  box-shadow: 0 0 10px 0 rgba(197, 197, 197, 0.5);
}

.animation-bottom,
.animation-top {
  animation: bottom 1s linear infinite;
}

@keyframes bottom {
  0% {
    top: 0;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}

.animation-left,
.animation-right {
  animation: left 1s linear infinite;
}

@keyframes left {
  0% {
    left: 0;
  }
  50% {
    left: -10px;
  }
  100% {
    left: 0;
  }
}
