@primary-color: #5a4cdb;
@single-line-height: 28px;

.searchBypeItem {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: #484E5F;
  display: flex;
  flex-wrap: nowrap;
  position: relative;

  .searchBypeItemMore {
    width: 40px;
    position: absolute;
    line-height: @single-line-height;
    right: 0;
    // color: #a2a2a2;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      color: @primary-color;
    }
  }

  .searchBypeItemTitle {
    font-weight: 400;
    color: #6D6D77;
    line-height: @single-line-height;
    margin-right: 18px;
    white-space: nowrap;
    cursor: pointer;

    &.searchBypeItemTitleAc {
      color: @primary-color;
    }

    &:hover {
      color: @primary-color;
    }
  }


  .childWrapper {
    max-height: 300px !important;
  }


  .searchBypeItemChild {
    width: auto;
    max-height: @single-line-height;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 16px;
    transition: max-height 200ms ease-in-out;


    .searchBypeItemChildAll {
      height: @single-line-height;
      margin-right: 15px;
      cursor: pointer;
    }

    .searchBypeItemChildli {
      height: @single-line-height;
      margin-right: 3px;
      margin-bottom: 6px;
      cursor: pointer;
      margin-right: 18px;
      border-radius: 4px;
      line-height: @single-line-height;
      font-weight: 400;
      color: #484e5f;
      user-select: none;

      &.searchBypeItemChildChoosed {
        color: @primary-color;
      }

      &:hover {
        color: @primary-color;
      }
    }
  }
}

.moreTag {
  font-size: 12px;
  margin-left: 2px;
  transform: scale(0.8);
  transition: transform 200ms ease;
}

.moreTagClose {
  transform: scale(0.8) rotate(180deg);
}
