@primary-color: #5646ed; // 全局主色
// @primary-color-hover: #4534d9;
// @primary-light-color: #f5f5ff;
// @primary-light-hover: @primary-color;
// @primary-color-light: #f6f8fb;

// @default-font-color: #aeafb2;
// @default-font-color-hover: rgba(255, 255, 255, 0.9);

@text-color: #aeafb2;
@text-color-hover: rgba(255, 255, 255, 0.9);

// @light-font-color: #7e8aa9;
// @strong-font-color: @primary-color;

// @popover-z-index: 1000;
// @modal-z-index: 10000;
@default-border-radius: 6px; // 组件/浮层圆角
// @price-font-color: rgba(234, 6, 76, 1);
@disabled-font-color: rgba(99, 108, 120, 1);
@black-font-color: #17171e;
@white-font-color: #aeafb2;
// @deleteLine-font-color: #636c78;
// @deleteLine-font-color: #636c78;
// @divider-color: #e7e5ed;
// @gray-font-color: #575c69;
// @lightGray-font-color: #808692;

@font-size-base: 12px; // 主字号
// @disabled-color: rgba(0, 0, 0, 0.25); // 失效色
// @border-color-base: #d9d9d9; // 边框色
// @box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
//   0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // 浮层阴影
