@primary-color: #5a4cdb;
@primary-color-hover: #4534d9;
@primary-light-color: #f5f5ff;
@primary-light-hover: @primary-color;
@primary-color-light: #f6f8fb;

@default-font-color: #262e48;
@default-font-color-hover: @primary-color;
@light-font-color: #7e8aa9;
@strong-font-color: @primary-color;

@popover-z-index: 1000;
@modal-z-index: 10000;
@default-border-radius: 8px;
@price-font-color: rgba(234, 6, 76, 1);
@disabled-font-color: rgba(99, 108, 120, 1);
@black-font-color: #202020;
@white-font-color: #ffffff;
@deleteLine-font-color: #636c78;
@deleteLine-font-color: #636c78;
@divider-color: #e7e5ed;
@gray-font-color: #575c69;
@lightGray-font-color: #808692;
