@import '/src/global.less';

.upload-form {
  .ant-form-item-label {
    min-width: 96px;
  }
}

.file-upload {
  // width: 260px;
  width: 100%;
  height: 180px;
  border: 1px solid #d3d3d3;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  padding-left: 8px;

  &.file-upload-default {
    .ant-upload {
      margin: 26px 0;
    }
    p {
      width: 100%;
      margin-bottom: 0px;
      font-size: 12px;
      color: #767676;
    }
  }
}

.upload-progress {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .upload-progress-bg {
    width: 100%;
    height: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
    margin: 12px 8px 12px 0;
    .upload-progress-success-bg {
      height: 100%;
      transition: width 0.3s;
      background-color: @primary-color;
      border-radius: 10px;
    }
  }

  .upload-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .uploaded-file-title {
    width: 100%;
    text-align: center;

    .upload-ellipsis;
  }

  .uploaded-file-icon {
    font-size: 42px;
    color: #767676;
  }
}
