.left {
  display: flex;
  flex-direction: row;
  align-items: center;

  .itemTxt {
    margin-left: 30px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #262e48;
    line-height: 20px;
    cursor: pointer;

    &:hover {
      color: #5a4cdb !important;
    }
  }

  .itemTxt1 {
    margin-left: 37px;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #5a4cdb;
    line-height: 17px;
    border-bottom: 1px solid #5a4cdb;
    cursor: pointer;

    &:hover {
      color: #5a4cdb !important;
    }
  }
  :global{
    .ant-input-number{
      width: 50px;
    }
  }
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;

  .rightItem {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #262e48;
    line-height: 20px;
    margin-right: 26px;
    cursor: pointer;

    &:hover {
      color: #5a4cdb !important;
    }

    .rightItemIcon {
      margin-right: 4px;
    }
  }
}
