.musicTags {
  display: grid;
  padding: 16px 18px 17px 18px;
  // justify-content: space-between;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, 60px);

  .itemText {
    width: 85%;
    white-space: nowrap; //不换行
    overflow: hidden; //超出隐藏
    text-overflow: ellipsis; //变成...
    text-align: center;
  }

  .active {
    background: #5646ed !important;
    color: #ffffff !important;
  }
  .item {
    width: 60px;
    height: 28px;
    background: #1c1c28;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;

    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: #5646ed;
    }
  }
}
