@import '/src/global.less';

.xiudodo-dragable-modal {
  position: fixed;
  z-index: @zindex-modal - 1;


  .xiudodo-dragable-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
    background: #1a2034;
    cursor: move;
    padding: 9px 14px;
  }

  .xiudodo-dragable-modal-title {
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
  }

  .xiudodo-dragable-modal-close {
    cursor: pointer;
    color: #ffffff;

    &:hover {
      color: @primary-color;
    }
  }

  .xiudodo-dragable-modal-resize-bottom {
    height: 2px;
    cursor: ns-resize;

    &:hover {
      background-color: @primary-color;
    }
  }

  .xiudodo-dragable-modal-resize-right {
    width: 2px;
    height: 100%;
    cursor: ew-resize;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
      background-color: @primary-color;
    }
  }

  .xiudodo-dragable-modal-resize-left {
    width: 2px;
    height: 100%;
    cursor: ew-resize;
    position: absolute;
    left: 0;
    top: 0;

    &:hover {
      background-color: @primary-color;
    }
  }
}