
.pointer-wrapper {
  // user-select: none;

  .pointer-handler {
    width: 100%;
    height: 30px;
    cursor: pointer;
    position: absolute;
  }
  .pointer-content {
    position: absolute;
    height: 100%;
    width: 12px;
    pointer-events: none;
    margin-left: -6px;
    z-index: 101;

    &.pointer-content-hidden {
      opacity: 0;
    }
    
    .pointer-arrow {
      margin: 0 auto;
      position: relative;
      width: 0px;
      height: 0px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid #262e48;
      cursor: pointer;
      pointer-events: all;
      cursor: grab;

      &.pointer-arrow-moving {
        cursor: grabbing;
      }
    }
    
    .pointer-line {
      margin: 0 auto;
      width: 2px;
      height: 100%;
      background-color: #262e48;
      pointer-events: none;
    }
  }
}