.brandColorItem {
  width: 100%;
  padding-bottom: 10px;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #D5D7DA;
  margin-bottom: 20px;

  .brandColorItemTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;

    .topTitle {
      margin-top: 22px;
      margin-left: 24px;
      font-size: 14px;
      font-weight: 500;
      color: #262E48;
      line-height: 20px;

      .itemFooterTopRightIsExport {
        .itemFooterTopInput {
          display: flex !important;
        }

        .itemFooterTopRightWarp {
          display: none !important;
        }

        .itemFooterTopRightIcon {
          display: none !important;

        }
      }

      .itemFooterTopRight {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        font-size: 14px;
        font-weight: 500;
        color: #181F35;

        &:hover {
          .itemFooterTopRightName {
            border-bottom: 1px dashed #D5D7DA !important;
          }

          .itemFooterTopRightIcon {
            display: flex !important;
          }
        }

        .itemFooterTopInput {
          display: none;
        }

        .itemFooterTopRightWarp {
          display: flex;
          max-width: 100%;

          .itemFooterTopRightName {
            font-size: 14px;
            font-weight: 500;
            color: #181F35;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border-bottom: 1px solid rgba(43, 59, 74, 0);

          }

          .itemFooterTopRightIcon {
            margin-top: 4px;
            margin-left: 12px;
            width: 30px;
            font-size: 14px;
            display: none;
            cursor: pointer;
          }

        }

        :global {
          .ant-input {
            height: 21px;
            padding: 0px !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 21px;
            font-size: 14px;
            font-weight: 500;
            color: #181F35;
          }
        }
      }
    }

    .topBtn {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
      width: 34px;
      height: 20px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      font-size: 20px;

      &:hover {
        color: #5A4CDB
      }

    }
  }

  .brandColorItemBottom {
    margin-top: 22px;
    width: 100%;
    padding: 0 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .colorItem {
      width: 68px;
      height: 68px;
      border-radius: 4px;
      border: 1px solid #D5D7DA;
      margin-right: 16px;
      margin-bottom: 16px;
      cursor: pointer;
    }

    .addBtn {
      width: 68px;
      height: 68px;
      border-radius: 4px;
      border: 1px solid #D5D7DA;
      font-size: 16px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;

      &:hover {
        border: 1px solid #5A4CDB;
      }
    }
  }
}

.topTitleMenuIcon {
  font-size: 14px;
  margin-right: 6px;
}

:global {
  .brandColorItemDropdown {
    .ant-dropdown-menu-item {
      &:hover {
        color: #5A4CDB !important
      }
    }
  }
}
