.clip-modal-content-bottom {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;

  .clip-modal-play-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    .clip-modal-play-video-icon {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      box-shadow: 0px 0px 4px 2px #eaecf2;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

.background-video-clip-modal-content {
  &:focus-visible {
    outline: none;
  }
}
