.color-block {
  flex: 1;
  height: 30px;
  cursor: pointer;
  border: 1px solid #d2d6da;
  border-radius: 4px;
}

.color-picker {
  .ant-popover-arrow {
    display: none;
  }

  .ant-popover-inner-content {
    padding: 0;
  }
}

.text-color {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  border-radius: 4px;
  width: 80%;
}

.textColor {
  .ant-tabs-tab:first-child {
    margin-left: 0px !important;
  }

  .ant-popover-inner {
    background-color: transparent;
  }
}
