.soundBgImg {
  width: 106px;
  height: 128px;
  position: absolute;
  left: 0px;
  top: 5px;
  z-index: 1;
}
.soundTitle {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: #1d264d;
  text-align: center;
  margin-top: 23px;
}
// 新版录音
.sound {
  width: 559px;
  height: 292px;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 0px 12px 0px rgba(139, 120, 255, 0.56);
  padding-left: 7px;
  padding-top: 32px;
  z-index: 2;
  position: absolute;
  left: 29px;
  top: 72px;
  overflow: hidden;
  .soundItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .soundItemIcon {
    color: rgba(225, 196, 253, 1);
    margin-left: 5px;
    font-size: 25px;
  }
  .closeIcon {
    position: absolute;
    top: 24px;
    right: 15px;
    font-size: 14px;
    color: #484e5f;
    width: 17px;
    height: 17px;
    background: #f3f5f6;
    border-radius: 50%;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
  }
  .soundButtomRed {
    color: rgba(174, 28, 28, 1) !important;
  }
  .soundButtom {
    width: 92px;
    height: 92px;
    background: linear-gradient(
      226deg,
      rgba(133, 74, 284, 0.7) 0%,
      rgba(90, 76, 218, 0.7) 100%
    );
    box-shadow: 0px 0px 16px 0px #7e71d2;
    border-radius: 53px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .soundButtomInner {
    width: 82px;
    height: 82px;
    background: #ffffff;
    border-radius: 50%;
    font-size: 35px;
    text-align: center;
    line-height: 82px;
    color: rgba(133, 74, 255, 1);
    cursor: pointer;
  }
  .soundRight {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: #484e5f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
  .soundRightTip {
    width: 100%;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 16px;
  }
  .soundRightTime {
    width: 100%;
    color: rgba(29, 38, 77, 1);
    margin-top: 7px;
    text-align: center;
    font-size: 24px;
    .primary {
      color: rgba(90, 76, 219, 1) !important;
    }
  }
  .soundButtonOver {
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
    margin: 0 10px;
    padding: 4px 10px;
  }
  .Left25 {
    margin-left: 25px !important;
  }
  .Left15 {
    margin-left: 15px !important;
  }
  .soundButtonReset {
    background: #ebebeb !important;
    border-radius: 4px;
    font-size: 12px;
    color: rgba(29, 38, 77, 1);
    padding: 4px 10px;
  }
}
// 警告信息
.warn {
  width: 196px;
  height: 40px;
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: 50%;
  font-size: 14px;
  font-weight: 400;
  color: #484e5f;
  line-height: 20px;
  padding-left: 13px;
  z-index: 99999;
  box-shadow: 0px 0px 10px 0px rgba(197, 197, 197, 0.5);
  .warnIcon {
    width: 20px;
    height: 20px;
    background: #dc6131;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    margin-right: 13px;
  }
}
// 下载
.uploadProgress {
  width: 100%;
  background: rgba(255, 255, 255, 1);
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .uploadProgressRow {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .uploadProgressTxt {
    max-width: 80%;
    font-size: 14px;
    font-weight: 400;
    color: #1d264d;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .uploadProgressTip {
    font-size: 12px;
    font-weight: 400;
    color: @primary-color;
    margin-left: 22px;
  }
  :global {
    .ant-progress {
      width: 242 !important;
    }
    .ant-progress-text {
      display: none;
    }
    .ant-progress-outer {
      padding-right: 0px !important;
    }
    .ant-progress-bg {
      background-color: @primary-color !important;
    }
  }
}
.recorderModal {
  background: linear-gradient(225deg, #e1c4fd 0%, #98abff 100%);
  border-radius: 6px;
  :global {
    .ant-modal-content {
      width: 100%;
      height: 100%;
      background: transparent;
      box-shadow: none;
      .ant-modal-close-x {
        width: 36px;
        height: 36px;
        line-height: 36px;
        color: rgba(29, 38, 77, 1);
      }
    }
    .ant-modal-body {
      height: 350px;
    }
  }
}
