.dragView {
    position: absolute;
    z-index: 9;
    transform-origin: 0 0;
}

.dragViewWrap {
    border-radius: 4px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px dashed #E3E3E3;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 10px;
}

.dragViewWrapCenter {
    background: #5A4CDB;
    border: none !important;
}

.dragIconWrap {
    // width:  60%;
    // min-width: 30px;
    height: 100%;
    max-width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    margin-left: 3px;
}
.dragIcon {
    height: 50%;
}