@import '/src/global.less';
.audio-context-menu {
  width: 140px;
  .ant-menu-item {
    height: auto;
    text-align: center;
    line-height: 22px;
  }

  .ant-dropdown-menu-item-disabled {
    color: #404042;
    opacity: 0.5;
  }

  .ant-dropdown-menu-item {
    justify-content: start;
    color: #262e48;
    font-size: 12px;
    &:hover {
      color: @primary-color;
      .audio-contextmenu-keypress {
        background-color: #fff;
      }
    }
  }
}

.audio-context-menu-dark {
  .ant-dropdown-menu-item {
    justify-content: center;
    color: #838390;
    &:hover {
      color: #fff;
    }
  }
  .ant-dropdown-menu-item-disabled {
    &:hover {
      color: #404042;
      background-color: #32323b;
    }
  }
}

.audio-context-overlay-dropdown {
}

.audio-context-overlay-dropdown-dark {
  .ant-dropdown-menu-light {
    background-color: #272731;
  }
  .ant-dropdown-menu-item {
    &.ant-dropdown-menu-item-active {
      background-color: #32323b !important;
    }
  }
}

.audio-contextmenu-keypress {
  position: absolute;
  right: 4px;
  background-color: #e6eaf1;
  border-radius: 4px;
  padding: 0 4px;
  color: #262e48;
}
