.notuploadWarpper {
  .ant-upload {
    padding: 0px !important;
  }

  .notuploadWarp {
    width: 310px;
    height: 246px;
    background: #ffffff;
    border-radius: 4px;
    // border: 1px solid #eaebee;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
      margin-top: 17px;
      font-size: 37px;
      color: #eaebee;
    }
    .text {
      margin-top: 14px;
      width: 140px;
      height: 20px;
      font-size: 14px;
      font-weight: 500;
      color: #484e5f;
      line-height: 20px;
    }
    .text1 {
      margin-top: 8px;
      width: 14px;
      height: 20px;
      font-size: 14px;
      font-weight: 400;
      color: #7e8aa9;
      line-height: 20px;
    }
    .button {
      margin-top: 9px;
      width: 207px;
      height: 44px;
      background: #5a4cdb;
      border-radius: 4px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .text2 {
      margin-top: 34px;
      width: 270px;
      height: 17px;
      font-size: 12px;
      font-weight: 400;
      color: #b2b9c9;
      line-height: 17px;
    }
  }
}
