.selected-fontFamily {
  font-size: 22px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:hover {
    .right {
      display: flex;
    }
  }

  .left {
    width: calc(100% - 50px);
    overflow: hidden;
  }

  .right {
    display: none;
    font-size: 18px;
    width: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      color: rgba(90, 76, 219, 1);
    }
  }
}
