.language-tabs {
  display: flex;
  align-items: center;
  background-color: #353541;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  .language-tabs-item {
    width: 50%;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    color: #d8d8d8;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    &.language-item-active {
      background-color: @primary-color;
    }
  }
}

.font-family-list {
  width: 245px;
  height: 320px;
  overflow-y: auto;

  .font-family-item {
    overflow-x: hidden;
    cursor: pointer;
    padding: 12px 0 12px 12px;
    &.font-family-active,
    &:hover {
      background: #353541;
    }
  }
  .font-family-group {
    font-size: 12px;
    color: #d8d8d8;
    padding: 8px 0;
  }
}

.font-family-wrap {
  width: 188px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid #ededed;
  border-radius: 4px;
  &:hover {
    border: 1px solid @primary-color;
    color: @primary-color;
  }

  & > div {
    overflow: hidden;
  }
}
.designer-font-family {
  padding-top: -10px;
  :global {
    .ant-popover {
      top: 145px !important;
    }
    .ant-popover-placement-bottom {
      padding-top: 0px !important;
    }
  }
}
.font-family-wrap-desiger {
  width: 260px;
  height: 35px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: none;
  background: #17171f;
  cursor: pointer;
  padding: 0 11px 0 21px;
  &:hover {
    border: 1px solid @primary-color;
    color: @primary-color;
  }

  & > div {
    overflow: hidden;
  }
}
.wrap-icon {
  font-size: 15px;
  transform: rotate(90deg);
  color: #d8d8d8;
}

.cateName {
  color: #d8d8d8;
}

.popover-styles {
  color: #17171f;
  :global {
    .ant-popover-arrow {
      display: none;
    }
  }
}
