@aside-collapsed-width: 60px;
@aside-toolPanel-width: 350px;
@aside-toolPanel-zIndex: 9;
@aside-expand-width: @aside-toolPanel-width;

.xiudodo-bottom {
  position: relative;
}

.xiudodo-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  user-select: none;
}

.aside-expand {
  &.xiudodo-aside-toolPanel {
    width: @aside-expand-width;
  }

  .xiudodo-toolPanel-controller {
    .anticon {
      transform: rotate(-180deg);
    }
  }
}
