.img-filter-slider {
  .title {
    display: flex;
    justify-content: space-between;
  }

  .gamma-r {
    .ant-slider-rail {
      background: linear-gradient(
        90deg,
        rgb(47, 208, 219) 0%,
        rgb(195, 75, 75) 100%
      );
    }
    .ant-slider-track {
      background-color: transparent;
    }
  }

  .gamma-g {
    .ant-slider-rail {
      background: linear-gradient(
        90deg,
        rgb(172, 95, 190) 0%,
        rgb(46, 218, 58) 100%
      );
    }

    .ant-slider-track {
      background-color: transparent;
    }
  }

  .gamma-b {
    .ant-slider-rail {
      background: linear-gradient(
        90deg,
        rgb(219, 165, 47) 0%,
        rgb(75, 120, 195) 100%
      );
    }
    .ant-slider-track {
      background-color: transparent;
    }
  }

  .ant-slider-rail {
    background-color: #d3d3d3;
  }
}
