.brandColor {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #262E48;

  .brandColorTop {
    width: 100%;
  }

  .brandColorContent {
    margin-top: 5px;
    width: 100%;

    .brandColorAdd {
      width: 100%;
      height: 50px;
      background: #FFFFFF;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 25px;
      margin-top: 22px;
      cursor: pointer;

      &:hover {
        color: #5A4CDB;
      }

      span {
        height: 27px;
        margin-right: 10px;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
      }
    }

    .contentColors {
      margin-top: 10px;
      display: flex;
      flex-direction: column;

      .contentColorsItem {
        width: 100%;
        display: flex;
        flex-direction: column;

        .itemName {
          width: 100%;
          font-size: 12px;
          font-weight: 500;
          color: #262E48;
        }


        .brandColorContentColors {
          margin-top: 10px;
          margin-bottom: 22px;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          display: grid;
          gap: 10px;

          .firstColor {
            display: flex;
            justify-content: center;
            height: 30px;
            cursor: pointer;
            border-radius: 4px;
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.06);
            overflow: hidden;
            transition: 0.3s;
            font-size: 18px;
            font-weight: 500;
            color: #262E48;

            &:hover {
              box-shadow: inset 0 0 0 1px #5A4CDB;
              color: #5A4CDB;
              transform: scale(1.05);
            }
          }


          .colorItem {
            height: 30px;
            cursor: pointer;
            border-radius: 4px;
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.06);
            overflow: hidden;
            transition: 0.3s;

            &:hover {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}

.brandColorTopLine {
  width: 100%;
  height: 1px;
  background: #E4E4E4;
  margin: 0 auto;
  margin-bottom: 13px;
}
