.layer-item {
  width: 100%;
  height: 41px;
  background: #20283f;
  margin-top: 2px;
  padding: 0 3px;
  display: flex;
  position: relative;
  border-left: 2px solid #20283f;
  cursor: pointer;
  &:hover {
    background: #333c59;
    color: #ffffff;
    border-left: 2px solid @primary-color;
    .layer-item-right-text {
      color: #ffffff;
    }
    .layer-item-left {
      color: #ffffff;
    }
    .layer-item-right-pic {
      color: #ffffff;
    }
    .layer-item-done {
      color: #ffffff !important;
      .anticon {
        color: #ffffff !important;
      }
    }
  }
}
.layer-item-choosed {
  background: #333c59;
  color: #ffffff;
  border-left: 2px solid @primary-color;
  .layer-item-right-text {
    color: #ffffff;
  }
  .layer-item-left {
    color: #ffffff;
  }
  .layer-item-right-pic {
    color: #ffffff;
  }
  .layer-item-done {
    color: #ffffff !important;
    .anticon {
      color: #ffffff !important;
    }
  }
}
.layer-item-left {
  width: 27px;
  height: 100%;
  border-right: 1px dashed rgba(38, 46, 72, 1);
  color: rgba(125, 130, 149, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}
.layer-item-right {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.layer-item-right-pic {
  width: 28px;
  height: 28px;
  background: #414b6b;
  border-radius: 4px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e929d;
  .img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.layer-item-right-button{
  width: 40px;
  height: 20px;
  border-radius: 4px;
  font-size: 12px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 35px;
}
.layer-item-right-pic-group {
  background-color: transparent;
}

.layer-item-right-text {
  max-width: 110px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.49);
  margin-left: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.layer-item-right-input {
  font-size: 12px;
  font-weight: 400;
  margin-left: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.layer-item-done {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #7d8295;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    color: @primary-color;
  }
}
