.gradient-color {
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 13px 15px 11px;

  .ant-input-suffix {
    color: #aeafb2 !important;
  }

  .sketch-picker {
    z-index: 998;
    background: #17171f !important;
    box-shadow: none !important;
    padding: 0 !important;
    label {
      color: #fff !important;
      text-align: left !important;
      padding-left: 10%;
    }
  }

  .gradient-color-type-radio {
    display: flex;

    .gradient-color-type-radio-item {
      padding: 4px 16px;
      border-radius: 4px;
      cursor: pointer;
      &.item-active {
        background-color: #eeeff2;
      }
    }
  }
}
.gradient-color-title {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}
.gradient-picker-panel {
  width: 300px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.gradient-picker-panel-deg {
  padding-top: 0 !important;
}
.gradient-picker-panel-input {
  width: 56px;
  height: 29px;
  background: #353540;
  border-radius: 4px;
  font-size: 12px;
  background: #353540;
  border: 1px solid #979797;
  color: #aeafb2;
  text-align: center;
  line-height: 29px;
  input {
    font-size: 12px;
    background: #353540;
    border: 1px solid #979797;
    color: #aeafb2;
    text-align: center;
    line-height: 29px;
  }
  .ant-input-suffix {
    color: #aeafb2;
    margin-left: 0;
  }
}
.gradient-picker-panel-picker {
  position: relative;
  flex: 1;
}

// 渐变点设置器
.gradient-picker-container {
  width: 100%;
  height: inherit;
  position: relative;
  overflow: hidden;
}
.gradient-picker-container-done-view {
  width: 208px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.gradient-picker-container-done {
  width: 205px;
  height: 18px;
  background: linear-gradient(270deg, #6dd400 0%, #f7b500 100%);
  border-radius: 2px;
}
.gradient-picker-container-canvas {
  // width: 205px;
  // height: 18px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: auto;
  display: none;
}
.gradient-picker-container-focus {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: auto;
  z-index: 5;
  border: none;
  background: transparent;
  outline: none;
}

.bar-position {
  z-index: 3;
  top: auto;
  position: absolute;
}
.gradient-picker-container-bar {
  width: 18px;
  height: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  border: 3px solid #ffffff;
}
.bar-active {
  width: 19px;
  height: 22px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  border: 1px solid #2700da;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-mock {
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.gradient-mock-item {
  width: 28px;
  height: 28px;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  margin: 0 10px 10px 0;
  cursor: pointer;
}
