
.AssetPosition {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 3px 3px;
  width: max-content;
  padding: 12px;

  .item {
    width: 36px;
    height: 28px;
    cursor: pointer;
    background: #EAECF2;
    position: relative;
    color: #262E48;

    &:hover {
      color: #5a4cdb;
    }

    .icon {
      position: absolute;
      // left: 11px;
      // top: 7px;
    }
  }
}