.effect-image {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0 18px 0;
}
.effect-image-item {
  width: 62px;
  height: 49px;
  margin-bottom: 10px;
  margin-left: 10px;
  background: #d8d8d8;
  border-radius: 4px;
  border: 1px solid #17171f;
  &:hover {
    border: 1px solid #979797;
  }
  div {
    width: 100%;
    height: 100%;
  }
}
.item-choosed {
  border: 1px solid #979797;
}
