@import '/src/global.less';

.wrap {
  border-radius: 14px;
  background-color: #fff;
  font-size: 12px;
  padding: 4px 10px;
  color: #262e48;
  cursor: pointer;
  z-index: @zindex-modal;

  &:hover {
    color: @primary-color;
  }

  &.disable {
    color: #979797;
    cursor: not-allowed;
  }
}
