.bindResultWarp {
    width: 385px;
    height: 313px;
    background: #FFFFFF;
    box-shadow: 0px 2px 7px 0px rgba(216, 216, 216, 0.5);
    border-radius: 6px;
    border: 1px solid #EDEDED;
    padding: 30px 43px;
  
    .bindResultWarpTitle {
  
      height: 25px;
      font-size: 18px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #262E48;
      line-height: 25px;
    }
  
    .bindResultWarpContent {
      margin-top: 28px;
      width: 298px;
      height: 120px;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #262E48;
      line-height: 20px;
    }
  
    .bindResultWarpButton {
      margin-top: 22px;
      width: 288px;
      height: 36px;
      background: #5A4CDB;
      border-radius: 4px;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  
      &:hover {
        opacity: 0.9;
      }
    }
  
    .bindResultWarpFooter {
      margin-top: 22px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  
  
      .leftButton {
        width: 119px;
        height: 34px;
        background: #FFFFFF;
        border-radius: 4px;
        border: 1px solid #5646ED;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #5A4CDB;
        line-height: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
  
        &:hover {
          background: #5A4CDB;
          color: #FFFFFF;
        }
      }
  
      .rightButton {
        width: 127px;
        height: 36px;
        background: #5A4CDB;
        border-radius: 4px;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
  
  
        &:hover {
          opacity: 0.9;
        }
      }
  
    }
  }
  