@media screen and (min-width: 1600px) {
  .oneKeyReplaceModal {
    width: 1400px !important;
    height: 760px !important;
  }
}
@media screen and (max-width: 1600px) {
  .oneKeyReplaceModal {
    width: 1000px !important;
    height: 560px !important;
  }
}
.oneKeyReplaceModal {
  overflow: hidden;
  z-index: 998;
  :global {
    .ant-modal-content,
    .ant-modal-body {
      height: 100%;
    }
  }
}
.oneKeyWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .loading {
    position: fixed;
    inset: 0;
    z-index: 1000;
    height: 100%;
    background-color: #00000073;
    display: none;
    &.show {
      display: block;
    }
  }

  :global {
    .ant-spin {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #fff;

      i {
        background-color: #fff;
      }
    }
  }
}
