.template-list {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 16px;

  &.template-list-w {
    grid-template-columns: repeat(auto-fill, 314px);
  }

  .template-list-item {
    position: relative;
  }

  .template-list-item-masonry {
    position: absolute;
  }
}

.template-list-skeleton {
  .xiudd-skeleton {
    height: 176px;
  }
}
