.uploadFontWarp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;


  .uploadFont {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 14px 0 0 23px;
    border-bottom: 1px solid #ededed;

    .uploadFont-item {
      padding: 8px;
      margin-right: 16px;
      cursor: pointer;

      &.language-item-active {
        border-bottom: 2px solid @primary-color;
      }
    }
  }



  .uploadFont-family-wrap {
    width: 100%;
    height: calc(100% - 72px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .uploadFont-family-button {
      width: 303px;
      height: 42px;
      margin-left: 24px;
      margin-bottom: 20px;
    }
  }

}

.uploadFont-family-list {
  width: 100%;
  height: calc(100% - 72px);
  overflow-x: hidden;
  overflow-y: hidden;
  .os-theme-dark{
    height: 100%;
  }

  .uploadFont-family-item-line {
    margin: 16px 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #E1E5E9;
  }

  .uploadFont-family-item-title {
    padding-left: 24px;
  }
  .fontItemActive{
    background: #E8ECED;
  }
  
  .uploadFont-family-item {
    width: 98%;
    overflow-x: hidden;
    cursor: pointer;
    height: 38px;
    padding-left: 24px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.uploadFont-family-active,
    &:hover {
      background-color: #E8ECED;
    }
  }

  .uploadFont-family-group {
    font-size: 12px;
    color: #7e8aa9;
    padding: 8px 0;
  }
}
