@import '/src/style/designer.theme.less';

.text-wrap {
  display: flex;
  align-items: center;
  // height: 25px;
  padding: 0 20px;
  background-color: #a799f9;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;

  .text {
    margin-left: 6px;
    font-size: 12px;
  }
}
