.designer-module-submit-modal-wrap {
  & > .ant-modal {
    padding-bottom: 0;
    .ant-modal-title {
      text-align: center;
      font-size: 20px;
    }
    .ant-modal-content {
      display: flex;
      flex-direction: column;
      .ant-modal-body {
        flex: 1;
        overflow-y: auto;
      }
    }
  }
}
