 .itemFooterTopRightIsExport {
   .itemFooterTopInput {
     display: flex !important;
   }

   .itemFooterTopRightWarp {
     display: none !important;
   }

   .itemFooterTopRightIcon {
     display: none !important;

   }
 }

 .itemFooterTopRight {
   margin-top: 18px;
   display: flex;
   flex-direction: row;
   align-items: center;
   max-width: 100%;
   height: 22px;
   font-size: 16px;
   font-weight: 500;
   color: #262E48;
   line-height: 22px;
   padding: 0 20px;

   &:hover {


     .itemFooterTopRightName {
       border-bottom: 1px dashed rgba(43, 59, 74, 0.7) !important;

     }
   }

   .itemFooterTopInput {
     display: none;
   }

   .itemFooterTopRightWarp {
     display: flex;
     max-width: 100%;

     .itemFooterTopRightName {
       height: 25px;
       font-size: 18px;
       font-weight: 500;
       color: #262E48;
       line-height: 25px;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       border-bottom: 1px solid rgba(43, 59, 74, 0);

     }

     .itemFooterTopRightIcon {
       margin-top: 4px;
       margin-left: 12px;
       width: 30px;
       font-size: 18px;
       line-height: 20px;
       display: flex;
       cursor: pointer;
     }

   }

   :global {
     .ant-input {
       padding: 0px !important;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       height: 25px;
       font-size: 18px;
       font-weight: 500;
       color: #262E48;
       line-height: 25px;
     }
   }
 }
