.brandFont {
  display: flex;
  margin-bottom: 50px;

  .brandFontWarp {
    .ant-tabs-nav::before {
      border-bottom: 0px !important;
    }



  }

  .rightBtn {
    width: 101px;
    height: 30px;
    background: #F4F4F4;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: #262E48;
    line-height: 17px;
    transition: 0.3s;

    &:hover {
      background: #ECEAFF;
      color: #5A4CDB
    }

    .rightBtnSpan {
      margin-right: 4px;
      font-size: 12px;
    }
  }
}
