
.TimeLine {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #484e5f;
  background-color: #fff;
  user-select: none;

  .content {
    flex: 1;
    height: 0;
    position: relative;

    .canvas {
      width: 100%;
      background-color: #d9dee4;
      display: flex;
      justify-content: center;

      .stage {
        background: linear-gradient(135deg, #3023ae 0%, #c86dd7 100%);
      }
    }

    .bottom {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #fff;

      .tabs {
        height: 38px;
        background-color: #f3f4f5;
        border-top: 1px solid #cdd5de;
        border-bottom: 1px solid #cdd5de;
        display: flex;
        align-items: flex-end;
      }
    }
  }

  :global {
    .ant-tabs-top > .ant-tabs-nav::before {
      border: none;
    }
    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
      border: none;
      background-color: #F3F4F5;
    }
    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
      background-color: #fff;
    }
    .ant-tabs-top > .ant-tabs-nav {
      margin: 0;
    }
    .ant-tabs-card.ant-tabs-small > .ant-tabs-nav .ant-tabs-tab {
      // padding: 2px 16px;
    }
    .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
      margin: 0;
    }
    .ant-tabs-tab-btn {
      font-size: 12px;
      user-select: none;
    }
    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {}
    .card-container > .ant-tabs-card > .ant-tabs-nav::before {
      display: none;
    }

    .ant-tabs > .ant-tabs-nav .ant-tabs-nav-more {
      cursor: pointer;
    }
  }
}
