@import '/src/global.less';
.styleItem {
  width: 36px;
  height: 36px;
  background: #17171e;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d8d8d8;
  font-size: 18px;
}
.active {
  background: @primary-color;
}
