.filters {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .filter-list {
    padding: 0 18px;
    flex: 1;
    overflow-y: auto;
    margin-bottom: 16px;
  }

  .mold-list {
    grid-template-columns: repeat(auto-fill, minmax(68px, 1fr));
  }

  .filter-item {
    img {
      cursor: pointer;
      border-radius: 4px;

      &.filter-item-active,
      &:hover {
        outline: 2px solid @primary-color;
      }
    }

    .filter-name {
      margin-top: 8px;
      text-align: center;
      font-size: 12px;
      color: #aeafb2;
    }
  }
}

.filter-parameter {
  background-color: #353541;
  padding: 10px 18px;
  color: #fff;
}
