// 最大zIndex
@maxZIndex: 99999;
// 编辑时的zIndex
@editZIndex: @maxZIndex + 10;
@resizePoint: @maxZIndex + 100;
// 最小zIndex
@minZIndex: -10;
@et_size: 12px;
@rt_rotate_size: 22px;
@et_color: rgba(90, 76, 219, 0.5);
@pr_color: rgba(90, 76, 219);
@et_border_radius: 4px;
@pathEditZIndex: @resizePoint+1;
@textEditZIndex: @pathEditZIndex+1;
