.layerItem-textArea {
    width: 100%;
    background: #13192B;

    textarea.ant-input {
        background: transparent;
        font-size: 12px;
        color: #fff;
        border: none;
        overflow-x: hidden;

        // &::-webkit-scrollbar{
        //     border: none;
        // }
        &::-webkit-resizer {}

        &::-webkit-scrollbar-corner {
            display: none;
        }
    }
}