.uploadMusicProgress {
  padding: 17px 14px 18px 19px;
  width: 318px;
  height: 79px;
  background: #ffffff;
  border-radius: 4px;
  :global {
    .ant-progress-bg {
      background-color: #5a4cdb;
    }
  }
  .uploadMusicProgressTop {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #484e5f;
    line-height: 20px;
    white-space: nowrap; //不换行
    overflow: hidden; //超出隐藏
    text-overflow: ellipsis; //变成...
  }
  .uploadMusicProgressBottom {
    margin-top: 8px;
  }
}
