.animation-stay {
  width: 100%;
  height: 100%;
  padding-left: 18px;
}
.animation-stay-up {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 12px;
  padding-right: 18px;
}
.animation-stay-item-choosed {
  background-color: @primary-color !important;
  color: #fff !important;
}
.visible {
  cursor: not-allowed !important;
}
.animation-stay-up-item {
  width: 108px;
  height: 40px;
  background: #17171e;
  border-radius: 4px;
  padding: 0 9px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #838390;
  margin-right: 8px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: @primary-color;
    color: #fff;
  }
  .left {
    width: 30px;
    height: 30px;
    background: #353540;
    border-radius: 4px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
  }
}
.animation-stay-down {
  width: 100%;
  height: calc(100% - 60px) !important;
  overflow: auto;
}

// 操作交互部分样式
.snake-action-box {
  width: calc(100% - 18px) !important;
  background: #1c1c26;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 20px 25px;
}

.snake-action-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 15px;
  color: #838390;
}

.snake-action-item-title {
  min-width: 72px;
  height: 17px;
  font-size: 12px;
  font-weight: 500;
  color: #747a91;
  line-height: 17px;
  margin-right: 25px;
}

.snake-action-circular-box {
  display: flex;
  justify-content: center;

  .snake-action-circular {
    .snake-action-circular-vessel {
      border: 1px dashed #606074 !important;
    }
    .snake-action-circular-sign::after {
      background: #979797 !important;
    }
    .snake-action-circular-center {
      background-color: #d8d8d8 !important;
      border: 2px solid #d8d8d8 !important;
    }
    .snake-action-circular-pointer-fill {
      .snake-action-circular-clocksecond {
        background: #979797 !important;
        .snake-action-circular-clockarrow {
          border-top: 2px solid #979797 !important;
          border-right: 2px solid #979797 !important;
        }
      }
    }
  }
}

.snake-action-slider {
  min-width: 200px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #838390;
  .sw-action-slider-box > .ant-slider > .ant-slider-track {
    background-color: @primary-color !important;
  }
  .sw-action-slider-box > .ant-slider > .ant-slider-handle {
    background-color: @primary-color !important;
    border: solid 2px @primary-color !important;
  }
}
.action-path-type {
  width: calc(100% - 18px) !important;
  background: #1c1c26;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 13px 15px 10px 19px;
  cursor: pointer;
  border-bottom: 1px solid #353540;
}

.action-path-type-info {
  display: flex;
  align-items: center;
}

.action-path-type-pic {
  width: 41px;
  height: 41px;
  background: #000000;
  border-radius: 4px;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 13px;
}

.action-path-type-name {
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #757b91;
  line-height: 20px;
}

.action-path-type-button {
  display: flex;
  .button-item {
    width: 52px;
    height: 24px;
    background: #353540 !important;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    color: #838390;
    cursor: pointer;
    border: none;
    margin-left: 7px;
    &:hover {
      color: #ffffff;
    }
  }
}
.snake-action-button {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}

.snake-action-button-item {
  width: 90px;
  height: 31px;
  background: #353540 !important;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #838390;

  cursor: pointer;
  border: none;
  &:hover {
    color: #ffffff;
  }
}
.snake-action-item-radio {
  box-sizing: border-box;
  span {
    color: #838390;
  }
}
