.designer-transition-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .designer-transition-Wrap {
    width: 100%;
    overflow: auto;
    padding: 0 16px;
  }

  .designer-transition-label {
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 16px;
  }

  .designer-transition-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(124px, 1fr));
    align-content: flex-start;
    gap: 16px;

    .designer-transition-item {
      .xiudodo-video-wrapper {
        background-color: #000;
        cursor: pointer;
        border-radius: 4px;
        overflow: hidden;

        &:hover {
          outline: 1px solid @primary-color;
        }
      }

      &.designer-transition-item-active {
        .xiudodo-video-wrapper {
          outline: 1px solid @primary-color;
        }
      }

      .designer-transition-title {
        text-align: center;
        color: #fff;
        margin-top: 8px;
        font-size: 12px;
      }
    }
  }

  .designer-transition-bottom {
    display: flex;
    justify-content: end;
    background-color: #353541;
    padding: 10px 18px;

    .transition-btn {
      display: inline-block;
      margin-left: 16px;
      background-color: #5e5e66;
      cursor: pointer;
      border-radius: 4px;
      padding: 4px 8px;
      color: #fff;
      font-size: 12px;

      &:hover {
        background-color: @primary-color;
      }
    }
  }
}
