.materialItemPopover {
  .ant-popover-arrow {
    display: none;
  }

  .ant-popover-inner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 380px;
    max-height: 240px;
    video,
    img,
    svg {
      max-width: 380px;
      max-height: 240px;
    }
  }
  .ant-popover-inner {
    background: #2e2e39;
    border-radius: 4px;
    border: 1px solid #474756;
    padding: 20px 15px;
  }
}
