
.mixin-flex {
  display: flex;
  align-items: center;
}

:global(.timeLine-assetContent) {
  &:hover {
    .previewWrapper {
      .lock {
        display: block;
      }
    }
  }
}

.previewWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(270deg, #AEBAF8 0%, #C973FF 100%);
  white-space: nowrap;

  .previewAsset {
    flex: 1;
  }

  .aniMark {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    .aniStart,.aniEnd {
      color: #fff;
      font-size: 6px;
      display: flex;
      align-items: center;

      .line {
        width: 38px;
        height: 1px;
        background-color: #fff;
      }
    }
    .aniEnd {
      transform: rotateY(180deg);
    }
  }

  &.emptyBg {
    box-shadow: 0 0 1px #666;
    border: 2px solid #fff;
    background: none;
    background-color: #fff;
  }
  &.text {
    background: none;
    background-color: #A799F8;
  }
  &.module {
    background: none;
    background-color: #86DADD;
  }
  &.video {
    background: none;
    background-color: #fff;
  }
  
  .lock {
    width: 15px;
    height: 15px;
    background-color: #5646ED;
    font-size: 10px;
    position: absolute;
    display: none;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    z-index: 1;
    cursor: pointer;

    &.locked {
      background-color: #CF1919;
    }
  }
  
  .textWrapper {
    width: 100%;
    height: 100%;
    line-height: 26px;
    color: #fff;
    .mixin-flex();
    padding: 0 10px;

    .text {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }


  .Image {
    // background: linear-gradient(270deg, #AEBAF8 0%, #C973FF 100%);
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
    // padding-left: 6px;
    // padding-top: 5px;

    .previewImage {
      width: auto;
      height: 14px;
      border-radius: 3px;
      background-size: auto 100%;
      background-repeat: no-repeat;
    }
  }

  // canvas {
  //   // width: 100%;
  //   height: 100%;
  // }

  .emptyBg {
    height: 100%;
  }

  .Group {
    padding-left: 6px;
    height: 100%;
    color: #fff;
    .mixin-flex();
  }

  .svgPath {
    padding-left: 6px;
    height: 100%;
    color: #fff;
    .mixin-flex();
  }

  .Video {
    overflow: hidden;
    height: 100%;

    .videoOffset {
      height: 100%;
    }
  }

  .icon {
    margin-right: 4px;
    font-size: 14px;
  }
}

.previewItem {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
