@import '/src/global.less';

.upload-file-bread-menu {
  padding-left: 18px;
  margin-bottom: 8px;
}
.upload-file-bread-menu-item {
  font-size: 12px;
  &:hover {
    color: @primary-color;
    cursor: pointer;
  }
}
