.infinite-loader-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.infinite-loader {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.empty-wrap {
  // margin-top: 160px !important;

  .empty-desc {
    margin-top: 60px;
    color: #7e8aa9;

    .empty-keyword {
      color: @primary-color;
    }
  }
}
