.wrap {
  height: inherit;
  color: #878989;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  & > div {
    flex: 1;
    text-align: center;
  }
}

.border-top {
  border-top: 1px solid #fff;
}

.active {
  color: #fff;
}

.icon {
  display: block;
  font-size: 26px;
  color: #fff;
  &.font-size-18 {
    font-size: 18px;
  }
}

.avatar {
  display: flex;
  align-items: center;

  img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin: 0 8px;
  }
}

.right-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 140px;
  right: 2px;
  color: #fff;
  font-size: 12px;
  z-index: 10;
  transform: scale(3);
  transform-origin: 50px 300px;

  & > div {
    flex: 1;
    margin-top: 16px;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bottom-menu {
  transform: scale(4);
}

@media screen and (max-width: 1440px) {
  .ellipsis {
    width: 70px;
  }
}
